
.part-page{
  &_carzy-jesus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.carzy-jesus-bg-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/background/crazyJesusBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.south-crazy-for{
  margin-right: -80px;
}
.carzy-jesus-logo{
  margin-top: -50px;
  margin-right: -80px;
  width: 480px;
  height: 320px;
}
.carzy-jesus-narrator{
  position: fixed;
  bottom: 10px;
  left: -50px;
  width: 400px;
  height: 250px;
  z-index: 1001;
}
@media only screen and (max-width: 1440px) {
  .part-page{
    &_carzy-jesus{
      justify-content: flex-start;
    }
  }
}
.button{
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .2s linear;
  width: 120px;
  height: 30px;
  border-radius: 6px;
  margin-left: 75px;
  margin-top: 20px;
  cursor: pointer;
  &_carzy-jesus{
    color:rgb(100, 100, 100);
    border: solid rgb(100, 100, 100);
    &:hover{
      color:rgb(255, 255, 255);
      background-color: rgb(100, 100, 100);

    }
  }
}
