<div *ngIf="!detail" class="part-page part-page_carzy-jesus">
  <div @aniJesusBg *ngIf="loadingBG" class="carzy-jesus-bg-image">
  </div>
  <img @aniJesusTxt *ngIf="loading"  class="south-crazy-for" src="assets/img/SouthCrazyFor.png" />
  <img @aniJesusLogo *ngIf="loading"  class="carzy-jesus-logo" src="assets/img/crazyjesusLoge.png" />
  <!-- <button class="button button_carzy-jesus" (click)="viewMore()">View More</button> -->
</div>
<!-- <img @aniJesusLogo *ngIf="mousewheel" class="carzy-jesus-narrator" src="assets/img/crazyjesusLoge.png" /> -->
