.header {
  padding-left: 3.5vw;
  display: flex;
  .header__flag {
    width: 200px;
    height: 180px;
    // background-color: #FF6423;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.kgbc-logo {
  display: inline-block;
  // background-image: url("/assets/img/KGBCLogo.png");
  img {
    width: 100%;
    height: 100%;
  }
}
.home-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &__circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
    // z-index: 0;
    border: solid 7px #1917cb;
    &_bg {
      width: 1080px;
      height: 1080px;
      top: -100px;
      right: -100px;
    }
    &_top {
      width: 200px;
      height: 200px;
      border: solid 50px #1917cb;
      right: -120px;
      top: -10px;
    }
    &_bottom {
      width: 200px;
      height: 200px;
      border: solid 50px #1917cb;
      right: -100px;
      bottom: -50px;
    }
  }
  &__title-text {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: #fff;
    margin-top: -100px;
    padding-right: 250px;
    i {
      font-weight: 600;
      font-size: 400px;
      font-style: italic;
      text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px,
        rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px,
        rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px,
        rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px;
    }
    i:nth-child(2) {
      margin-top: -50px;
      margin-left: 50px;
    }
    p {
      font-style: italic;
      letter-spacing: 4.5px;
      font-size: 25px;
      padding-top: 10px;
    }
    .moblie-text {
      display: none;
    }
    .pc-text {
      display: block;
    }
  }
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__background-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      173deg,
      rgba(0, 0, 0, 0.6),
      rgba(13, 5, 0, 0.58) 24%,
      rgba(53, 20, 0, 0.53) 49%,
      rgba(119, 47, 0, 0.44) 73%,
      rgba(212, 83, 0, 0.32) 97%,
      rgba(226, 89, 0, 0.3)
    );
  }
  &__background-color-purple {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      173deg,
      rgba(0, 0, 0, 0.6),
      #3735b3 25%,
      #1917b2  50%,
      #3432b3 75%,
      #04031b 100%
    );
  }
  &__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/background/homepageBG.png");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__background-lion {
    position: absolute;
    display: block;
    width: 1200px;
    height: 1080px;
    opacity: 0.25;
    top: -100px;
    right: -100px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.nav-bar {
  display: flex;
  padding-left: 3.5vw;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity 0.2s ease-in;
    padding: 0 30px;
    a {
      white-space: nowrap;
      font-family: "Noto Sans TC";
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 5.9px;
      text-align: left;
      color: #ffffff;
    }
  }
  &:hover {
    .nav-bar__item:not(:hover) {
      opacity: 0.3;
    }
  }
  &__item:hover {
    .nav-bar__menu {
      display: block;
    }
  }
  &__menu {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.6);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    top: 100px;
    left: 30px;
  }
  a.nav-bar__menu-item {
    display: block;
    // width: 100%;
    font-family: "Noto Sans TC";
    font-size: 18px;
    line-height: 1.2;
    padding: 10px;
    // letter-spacing: 5.9px;
    text-align: left;
    color: #ffffff;
    &:hover {
      background-color: rgba(100, 100, 100, 0.4);
    }
    &:active {
      background-color: rgba(100, 100, 100, 0.3);
    }
  }
}
.kgbc-title-text {
  padding-left: 17.5vw;
  p {
    font-family: "CenturyGothicBold";
    font-size: 5vw;
    font-weight: 900;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .kgbc-title-text__xl {
    font-size: 6vw;
  }
}
.scripture {
  position: absolute;
  left: 17.5vw;
  bottom: 10%;
  p {
    font-family: "Noto Sans TC";
    font-size: 1.14vw;
    line-height: 1.4;
    letter-spacing: 3.5px;
    text-align: left;
    color: #ffffff;
  }
}
.community-icon {
  position: absolute;
  left: 55px;
  top: 45%;
  display: flex;
  flex-flow: column;
  svg {
    fill: #ffffff;
  }
}
.moblie-menu{
  display: none;
  &__icon{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
@media screen and (max-width: 1440px) {
  .header {
    .header__flag {
      width: 120px;
      height: 120px;
    }
  }
  .home-page {
    &__title-text {
      margin-top: -70px;
      padding-right: 180px;
      i {
        font-size: 350px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  .nav-bar {
    display: flex;
    padding-left: 58px;
  }
  // .kgbc-logo{
  //   width: 100px;
  //   height: 80px;
  // }
}
@media screen and (max-width: 1000px) {
  .header {
    .header__flag {
      margin-top: 10px;
      width: 100px;
      height: 90px;
    }
  }
  .home-page {
    &__background-color-purple{
      display: block;
    }
    &__title-text {
      align-items: center;
      margin-top: 0px;
      padding-right: 50px;
      i {
        font-size: 180px;
        line-height: 200px;
      }
      i:nth-child(2) {
        margin-top: 0px;
        margin-left: 0px;
      }
      p {
        font-size: 20px;
      }
      .pc-text {
        display: none;
      }
      .moblie-text {
        line-height: 30px;
        display: block;
      }
    }
    &__background-lion{
      width: 580px;
      height: 500px;
      top: 280px;
      right: -90px;
    }
  }

  .moblie-menu{
    display: block;

    &__icon{
      width: 30px;
      height: 30px;
      color:#fff;
      background-color: transparent;
    }
    &__list{
      position: absolute;
      background-color: rgba(0,0,0,.6);
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    &__item{
      display: block;
      a{
        font-size: 30px;
        color: #fff;
      }
    }
    &__close{
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: #fff;
    }
  }
}
