
<div class="home-page">
  <div class="home-page__background-image"></div>
  <div class="home-page__background-color-purple"></div>
  <div class="background-area">
    <div class="home-page__background-lion">
      <img src="assets/img/background-lion.png" alt="" srcset="">
    </div>
    <div class="home-page__circle home-page__circle_bg">
    </div>
    <div class="home-page__circle home-page__circle_top"></div>
    <div class="home-page__circle home-page__circle_bottom"></div>
  </div>
  <div class="home-page__container">
    <header class="header">
      <div class="header__flag">
        <i class="kgbc-logo">
          <img src="assets/img/KgbcLogo.png" alt="" srcset="">
        </i>
      </div>
      <ol class="nav-bar" *ngIf="!isMobile">
        <li class="nav-bar__item">
          <a href="/homepage#about">認識教會</a>
        </li>
        <li class="nav-bar__item">
          <a href="/homepage#media">Photos</a>
        </li>
        <li class="nav-bar__item">
          <a href="/homepage#kgbcTV">KGBC TV</a>
        </li>
        <li class="nav-bar__item">
          <a href="/homepage#information">教會資訊</a>
        </li>
        <li class="nav-bar__item">
          <a>我們的品牌</a>
          <div class="nav-bar__menu">
            <a class="nav-bar__menu-item" href="/leaderTeaTime">李德踢炭</a>
            <a class="nav-bar__menu-item" href="/sinbaKingdom">Simba kingdom</a>
            <a class="nav-bar__menu-item" href="/crazyjesus">南台灣瘋耶穌</a>
          </div>
        </li>
        <li class="nav-bar__item">
          <a href="">我們的教會</a>
        </li>
      </ol>
    </header>
    <div class="home-page__title-text">
      <i>KG</i>
      <i>BC</i>
      <p class="pc-text">Kaohsiung Glory & Beauty Church</p>
      <p class="moblie-text">
        Kaohsiung Glory
        <br>
        Beauty Church
      </p>
    </div>
    <div class="community-icon" *ngIf="!isMobile">
      <a class="icon-40x40" href="https://www.facebook.com/JesusDesignKaohsiung/">
        <svg width="100%" height="100%">
          <use xlink:href="/assets/img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
      <a class="icon-40x40" href="https://www.instagram.com/jesus_design.kaohsiung/">
        <svg width="100%" height="100%">
          <use xlink:href="/assets/img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a class="icon-40x40" href="https://www.youtube.com/user/GloryBeautyChurch">
        <svg width="100%" height="100%">
          <use xlink:href="/assets/img/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </div>
    <!-- <div class="scripture">
      <p>至小的族要加增千倍，<br>
        微弱的國必成為強盛，<br>
        我耶和華要按定期速成這事。<br>
        以賽亞書60:22<br>
      </p>
    </div> -->
  </div>
</div>
<div class="moblie-menu">
  <div mat-button class="moblie-menu__icon" *ngIf="!showMenu" (click)="showMenu = true">
    <mat-icon>
      menu
    </mat-icon>
  </div>
  <ul class="moblie-menu__list" *ngIf="showMenu">
    <li class="moblie-menu__item">
      <a href="/homepage#about">認識教會</a>
    </li>
    <li class="moblie-menu__item">
      <a href="/homepage#media">Photos</a>
    </li>
    <li class="moblie-menu__item">
      <a href="/homepage#kgbcTV">KGBC TV</a>
    </li>
    <li class="moblie-menu__item">
      <a href="/homepage#information">教會資訊</a>
    </li>
    <li class="moblie-menu__item">
      <a href="/leaderTeaTime">李德踢炭</a>
    </li>
    <li class="moblie-menu__item">
      <a href="/sinbaKingdom">Simba kingdom</a>
    </li>
    <li class="moblie-menu__item">
      <a href="/crazyjesus">南台灣瘋耶穌</a>
    </li>
    <div class="moblie-menu__close" *ngIf="showMenu" (click)="showMenu = false">
      <mat-icon>
        close
      </mat-icon>
    </div>
  </ul>
</div>
