
<div *ngIf="data.type === 'youtube'" class="over-player">
  <iframe width="100%" height="100%" [src]="playVideo | safeUrl" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</div>
<div *ngIf="data.type === 'normal'" class="over-player">
  <video width="100%" height="100%" controls autoplay>
    <source [src]="playVideo | safeUrl" type="video/mp4">
    <source [src]="playVideo | safeUrl" type="video/ogg">
    Your browser does not support HTML5 video.
  </video>
</div>
