<div class="part-page">
  <div class="part-page__infor-background-color">
    <div class="infor-title">
      <span>
        LOCATION
      </span>
    </div>
    <div class="infor-container">
      <div class="infor-content">
        <p class="infor-content__chruch">高雄榮美教會</p>
        <p class="infor-content__address">台糖成功物流園區｜高雄市前鎮區成功二路四號</p>
        <ul class="infor-content__mass-transit">
          <li class="infor-content__item">
            <p class="mass-transit mass-transit__title">
              捷運凱旋站
            </p>
            <span class="mass-transit mass-transit__content">
              168東／紅12A／紅12B
            </span>
          </li>
          <li class="infor-content__item">
            <p class="mass-transit mass-transit__title mass-transit__title-spacing-3">
              夢時代
            </p>
            <span class="mass-transit mass-transit__content">
              168東／36／70A／70B／70D／205／214A
            </span>
          </li>
          <li class="infor-content__item">
            <p class="mass-transit mass-transit__title mass-transit__title-spacing-4">
              物流園區
            </p>
            <span class="mass-transit mass-transit__content">
              36／70A／70B／70D／205／214A
            </span>
          </li>
          <li class="infor-content__item">
            <p class="mass-transit mass-transit__title">
              捷運獅甲站
            </p>
            <span class="mass-transit mass-transit__content">
              12A／12C／9117／9117A／紅16
            </span>
          </li>
        </ul>
        <p class="infor-content__shuttle-bus">教會接駁車｜獅甲1號出口／每週日8:30-9:30</p>
        <!-- 禮拜日早上 9:30 主日 7 樓 -->
      </div>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomValue" >
        <agm-marker [latitude]="lat" [longitude]="lng" (mouseOver)="onMouseOver(infowindow)"></agm-marker>
        <agm-info-window #infowindow  [latitude]="lat+0.0005" [longitude]="lng" [isOpen]="isOpen" >
          <div class="info-window">
            <img class="info-window__img" src="assets/img/KgbcLogo.png" >
            <p>高雄榮美教會 </p>
          </div>
        </agm-info-window>
      </agm-map>
    </div>

  </div>
</div>
<!--
  168東／紅12A／紅12B 168東／36／70A／70B／70D／205／214A 36／70A／70B／70D／205／214A 12A／12C／9117／9117A／紅16
-->
