.part-page{
  width: 100%;
  height: 100%;
  position: relative;
  &__infor-background-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
  }
  &_infor-background-image{
    background-image: url("/assets/img/churchInFor.png");
    overflow: hidden;
    background-size: 180%;
    background-position: 70% 30%;
    background-repeat: no-repeat;
  }
}
.infor-square{
  position: absolute;
  top: 25vh;
  left: 12.5vw;
}
.infor-title{
  font-family: "CenturyGothicBold";
  margin-top: 6.5vh;
  font-size: 90px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  span{
    display: inline-flex;
    border: #fff solid 10px;
    padding: 20px;
  }
}
.infor-content{
  &__chruch{
    // margin-top: 40px;
    letter-spacing: 10px;
    font-size: 40px;
    color: #fff;
  }
  &__address{
    // font-weight: 300;
    letter-spacing: 3px;
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
  }
  &__mass-transit{
    margin-top: 50px;
  }
  &__item{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  &__shuttle-bus{
    letter-spacing: 3px;
    margin-top: 70px;
    font-size: 25px;
    color: #fff;
  }
}
.infor-container{
  margin-top: 90px;
  margin: 120px;
  display: flex;
  justify-content: space-between;
  agm-map {
    height: 580px;
    width: 680px;
  }
}
.mass-transit{
  &__title{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
    height: 30px;
    color: #fff;
    background-color: #FF6423;
    width: 150px;
    letter-spacing: 3px;
    margin-right: 15px;
  }
  &__title-spacing-4{
    letter-spacing: 5px;
  }
  &__title-spacing-3{
    letter-spacing: 10px;
  }
  &__content{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }
}
.info-window{
  display: flex;
  align-items: center;
  font-family: "Noto Sans TC";
  // font-weight: bold;
  font-size: 15px;
  &__img{
    background-color: #FF6423;
    padding: 5px;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1440px){
  .infor-title{
    font-size: 62px;
  }
  .infor-content{
    &__chruch{
      // margin-top: 20px;
      font-size: 35px;
    }
    &__address{
      margin-top: 20px;
      font-size: 18px;
    }
    &__mass-transit{
      margin-top: 30px;
    }
    &__item{
      padding-bottom: 10px;
    }
    &__shuttle-bus{
      margin-top: 40px;
      font-size: 18px;
    }
  }
  .infor-container{
    margin-top: 65px;
    margin: 80px;
    agm-map {
      height: 430px;
      width: 470px;
    }
  }
}
