<div class="overview">
  <a class="overview__close" (click)="closeDialog()">
    <button mat-icon-button >
      <mat-icon>
        clear
      </mat-icon>
    </button>
  </a>
  <div class="overview__content">
    <p [innerHTML]="this.data.article">
    </p>
  </div>
</div>
