.overview {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px;
  justify-content: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  border-radius: 10px;
  color: #fff;
  background: rgba(50, 50, 50, 0.85);
  &__close {
    position: absolute;
    top: -20px;
    left: -20px;
  }
  &__content {
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 25%;
  }
  b {
    color: #ff6423;
    text-align: center;
  }
  p.title {
    font-size: 25px;
    color: #ff6423;
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .overview {
    &__content {
      padding: 10px;
    }
  }
}
::ng-deep {
  .overview {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    justify-content: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    border-radius: 10px;
    color: #fff;
    background: rgba(50, 50, 50, 0.85);
    &__close {
      position: absolute;
      top: -20px;
      right: -20px;
    }
    &__content {
      overflow: auto;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 10px 25%;
    }
    b {
      color: #ff6423;
      text-align: center;
    }
    p.title {
      font-size: 24px;
      color: #ff6423;
      text-align: center;
    }
    p.title_left{
      text-align:left;
    }
  }
  @media screen and (max-width: 1000px) {
    .overview {
      &__content {
        padding: 10px;
      }
    }
  }
}
