:host{
  width: 100%;
  height: 100%;
  display: block;
}

.homepage {
  width: 100%;
  height: 100%;
}
.first-page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &_bg {
    background-image: url("/assets/img/background/weeklyBG.png");
    // overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__logo-txt {
    width: 730px;
    height: 650px;
  }
}
.info-window{
  display: flex;
  align-items: center;
  font-family: "Noto Sans TC";
  // font-weight: bold;
  color: #000;
  font-size: 1.2rem;
  &__img{
    background-color: #FF6423;
    padding: 5px;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
.bulletin-board {
  height: 720px;
  width: 100%;
  color: #fff;

  &__title {
    font-size: 2rem;
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
  }
  &__subject {
    font-size: 1.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    width: 300px;
    height: 300px;
    position: relative;
    img {
      position: absolute;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__message {
    margin-top: 50px;
    padding: 0 50px;
    font-size: 1.5rem;
    text-align: center;
    a{
      font-size: 1.5rem;
      color: #2997ff;
    }
  }
  &__list {
    display: block;
    width: 100%;
    height: 500px;
    &_moblie{
      display: none;
    }
  }
  &__item-box {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  &_bg {
    background-image: url("/assets/img/background/bulletinBoardBG.jpg");
    // overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.menu {
  width: 100%;
  box-sizing: border-box;
  padding:10px 25px;
  position: fixed;
  top: 0px;
  z-index: 99;
  transition: all 1s cubic-bezier(.33,.43,.73,.85);
  &__moblie-entry-point {
    width: 100%;
    display: none;
    justify-content: flex-end;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;

  }
  &__moblie-btn{
    color: #fff;
    background-color: transparent;
  }
  &_bg-gray{
    background-color: #464646;
  }
  &__list {
    display: flex;
    align-items: center;
    color: #fff;
    &:hover {
      .menu__item:not(:hover) {
        opacity: 0.3;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__item {
    transition: opacity 0.2s ease-in;
    padding-right: 50px;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    cursor: pointer;
    a{
      color: inherit;
    }

  }
  .menu__item:hover{
    .menu__item-menu{
      display: block;
    }

  }
  &__locale {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 140px;
    box-sizing: border-box;
    padding: 0 5px;
    height: 38px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid 1px #fff;
    .flag-icon {
      margin-right: 5px;
    }
  }
  &__item-menu{
    position: absolute;
    top: 15px;
    background-color: #464646;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: none;
    &:hover{
      display: block;
    }
  }
  &__item-menu-item{
    display: flex;
    padding: 5px 0;
    justify-content: center;

  }
}
.menu-moblie {
  display: none;
  position: fixed;
  width:  100%;
  // height: 100%;
  padding-bottom: 25px;
  background-color: #464646;
  z-index: 99;
  color: #fff;
  &__child{
    margin-top: 10px;
    margin-left: 10px;
  }
  &__child-item{
    padding-top: 5px;
  }
  &__locale{
    padding:0 20px;
  }
  &__locale-list{
    display: flex;
  }
  &__locale-item{
    padding: 2.5px 5px;
  }
  &__container{
    background-color: #464646;
    width: calc(100% - 60px);
    height: 100%;
  }
  &__close-btn{
    background-color: #464646;
    height: 60px;
    width: 60px;
    position: fixed;
    top: 0px;
    right: 0px;
    button{
      color: #fff;
      width: 100%;
      height: 100%;
      font-size: 60px;
      background-color: transparent;
    }
  }
  &__list{
    padding: 25px;
    padding-bottom: 0;
  }
  &__item {
    color: #fff;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    letter-spacing: .1rem;
    a {
      color: inherit;
    }
  }
}
.about-chruch {
  background-color: #1d1919;
  width: 100%;
  height: auto;
  color: #fff;
  &__title {
    padding-top: 100px;
    padding-bottom: 150px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
  }
  &__part {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0 auto;
    // padding-bottom : 30px;
  }
  &__part:nth-child(odd) {
    flex-direction: row-reverse;
    .about-chruch__photo {
      justify-content: flex-start;
    }
  }
  &__summary-txt {
    // margin-bottom: 20px;
  }
  &__summary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    h2 {
      font-size: 2.5rem;
      color: #be454c;
      margin-bottom: 30px;
    }
    p {
      font-size: 1.5rem;
      width: 380px;
      word-break: break-all;
      margin-bottom: 30px;
    }
    a {
      font-size: 1.5rem;
      color: #2997ff;
    }
  }
  &__photo {
    width: 51%;
    height: 480px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      // height: 100%;
    }
  }
}
.everywhere-map {
  width: 100%;
  height: 720px;
  background-color: #eee;
  agm-map{
    width: 100%;
    height: 100%;
  }
}
.church-info {
  color: #fff;
  // width: 100%;
  background-color: #222;
  &__container {
    padding: 80px;
    padding-bottom: 40px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
  }
  &__map {
    width: 580px;
    height: 480px;
    background-color: #fff;
    margin-right: 50px;
    agm-map{
      width: 100%;
      height: 100%;
    }
  }
  .info {
    margin-left: 50px;
    &__chruch {
      letter-spacing: 10px;
      font-size: 3.5rem;
      color: #fff;
    }
    &__address {
      // font-weight: 300;
      letter-spacing: 3px;
      margin-top: 20px;
      font-size: 2rem;
      color: #fff;
    }
    &__transit {
      padding-top: 2rem;
    }
    &__item {
      padding-bottom: 2rem;
    }
    &__transit-title {
      padding-bottom: 2rem;
      font-size: 2rem;
    }
    &__transit-content {
      font-size: 1.6rem;
    }
  }
}
.web-footer {
  width: 100%;
  height: 500px;
  background-color: #a1a1a1;

  &__container {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
  }
  &__fan-page{
    padding-top: 60px;
    .icon{
      background-color: #1d1919;
      margin-right: 60px;
    }
  }
  &__summary{
    margin-top: 130px;
    font-size: 2rem;
    p{
      margin-bottom: 20px;
    }
  }
  &__contact-us{
    position: absolute;
    top: 200px;
    left: 140px;
    font-weight: 600;
    font-size: 4rem;
    transform: rotate(-90deg);
  }
  &__subscription{
    width: 170px;
    height: 130px;
    position: absolute;
    top: 120px;
    right: 150px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 2rem;
    border: solid 5px #000;
  }
}
.icon {
  a{
    display: inline-block;
  }
  svg {
    width: 100%;
    height: 100%;
    display: inline-flex;
  }
  &__3030 {
    display: inline-flex;
    width: 30px;
    height: 30px;
    color: inherit;
  }
  &__4040 {
    display: inline-flex;
    width: 40px;
    height: 40px;
  }
  &_black{
    background-color: #000;
    fill: #fff;
    color: #fff;
    a{
      fill: #fff;
      color: #fff;
    }
  }
}
button.icon_6060 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
@media (max-width: 767px){
  .first-page {
    &__logo-txt {
      width: 100%;
      height: 320px;
    }
  }
  .menu{
    &__container {
      display: none;
    }
    &__moblie-entry-point{
      display: flex;
    }
  }
  .menu-moblie{
    display: flex;
  }
  .bulletin-board{
    &__list{
      display: none;
      &_moblie{
        display: block;
      }
    }
  }
  .about-chruch {
    &__part{
      display: block;
    }
    &__summary{
      width: 100%;
      box-sizing: border-box;
      padding: 25px 10px;
      p{
        width: auto;
        line-height: 2rem;
      }
    }
    &__summary-txt{
      text-align: center;
    }
    &__photo{
      width: 100%;
    }
  }
  .church-info{
    &__container{
      padding: 20px 0px;
      display: block;
    }
    &__map{
      width: 100%;
      margin-bottom: 20px;
    }
    .info{
      margin-left: 20px;
      &__chruch {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      &__address{
        font-size: 2rem;
        line-height: 2.5rem;
      }
      &__transit-title,&__transit-content {
        line-height: 2.5rem;
      }
    }
  }
  .web-footer {
    &__container{
      flex-direction: column;
      align-items: center;
    }
    &__contact-us{
      display: none;
    }
    &__subscription{
      position: relative;
      top: initial;
      right: initial;
    }
    &__summary{
      margin-top: 60px;
      text-align: center;
    }
    &__fan-page{
      display: flex;
      justify-content: space-around;
      .icon{
        margin-right: 0px;
      }
    }
  }
}
