<div class="homepage">
  <nav class="menu" [ngClass]="{'menu_bg-gray': isNavbarinTop}">
    <div class="menu__moblie-entry-point">
      <button class="menu__moblie-btn"  mat-icon-button *ngIf="!mobileMenuOpen" (click)="showMoblieMenu(true)">
        <mat-icon>
          menu
        </mat-icon>
      </button>
      <button class="menu__moblie-btn" mat-icon-button *ngIf="mobileMenuOpen" (click)="showMoblieMenu(false)">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </div>
    <div class="menu__container">
      <div class="menu__left"></div>
      <div class="menu__right">
        <ol class="menu__list">
          <li *ngFor="let item of navbarList" class="menu__item" (click)="goaService.navBarTracking(item.text)">
            <a [href]="item.link" *ngIf="item.newPage" target="_blank">
              {{item.text}}
            </a>
            <a [href]="item.link" *ngIf="!item.newPage">
              {{item.text}}
            </a>
            <div *ngIf="item.more.length>0" class="menu__item-menu" >
              <li *ngFor="let child of item.more"  class="menu__item-menu-item" (click)="goaService.navBarTracking(item.text)">
                <a [href]="child.link" *ngIf="!child.newPage">
                  {{child.text}}
                </a>
                <a [href]="child.link" *ngIf="child.newPage" target="_blank">
                  {{child.text}}
                </a>
              </li>
            </div>
          </li>
        </ol>
        <div class="menu__locale">
          <i class="flag-icon flag-icon-{{localeFlag}}"></i>
          <mat-select (selectionChange)="changeLang($event.value)" [(ngModel)]="localeValue" name="locale">
            <mat-option *ngFor="let item of i18n.getLangList()" [value]="item.key" (click)="goaService.navBarTracking(item.language)">
              <i class="flag-icon flag-icon-{{item.flag}}"></i>
              {{item.language}}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
  </nav>
  <nav class="menu-moblie" *ngIf="mobileMenuOpen" [@aniMobile]="mobileMenuOpen">
    <div class="menu-moblie__container">
      <ol class="menu-moblie__list">
        <li *ngFor="let item of navbarList" class="menu-moblie__item" (click)="showMoblieMenu(false);goaService.navBarTracking(item.text)">
          <a [href]="item.link" *ngIf="item.newPage" target="_blank">
            {{item.text}}
          </a>
          <a [href]="item.link" *ngIf="!item.newPage">
            {{item.text}}
          </a>
          <div *ngIf="item.more.length>0" class="menu-moblie__child">
            <li *ngFor="let child of item.more" class="menu-moblie__child-item" (click)="goaService.navBarTracking(item.text)">
              <a [href]="child.link" *ngIf="!child.newPage">
                {{child.text}}
              </a>
              <a [href]="child.link" *ngIf="child.newPage" target="_blank">
                {{child.text}}
              </a>
            </li>
          </div>
        </li>
      </ol>
      <div class="menu-moblie__locale">
        <ul class="menu-moblie__locale-list">
          <li class="menu-moblie__locale-item" *ngFor="let item of i18n.getLangList()" (click)="changeLang(item.key);navBarTracking(item.text)">
            <span>
              <i class="flag-icon flag-icon-{{item.flag}}"></i>
              {{item.language}}
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-moblie__close-btn">
      <button mat-icon-button (click)="showMoblieMenu(false)">
        <mat-icon>
          close
        </mat-icon>

      </button>
    </div>
  </nav>
  <section class="first-page first-page_bg">
    <img class="first-page__logo-txt" src="assets/img/feature/kgbc-text.png" alt="">
  </section>
  <section class="bulletin-board bulletin-board_bg" #bulletinBoard>
    <div class="bulletin-board__title">
      <p>
        新消息
      </p>
    </div>
    <div class="bulletin-board__subject">
      <p>
        掌握最新的消息,隨時更進教會的動態.
      </p>
    </div>
    <!-- Swiper -->
    <swiper [config]="boardConfig" class="bulletin-board__list">
      <div *ngFor="let item of mediaList | async" class="bulletin-board__item">
        <div class="bulletin-board__item-box">
          <div class="bulletin-board__image">
            <img [src]="item.node.thumbnail_resources[4].src" alt="" srcset="">
          </div>
          <p class="bulletin-board__message">
            {{item.node.edge_media_to_caption.edges[0].node.text | truncate:75}}
            <a target="_blank" href="https://www.instagram.com/p/{{item.node.shortcode}}">more...</a>
          </p>
        </div>
      </div>
    </swiper>
    <swiper [config]="boardConfigMoblie" class="bulletin-board__list bulletin-board__list_moblie">
      <div *ngFor="let item of mediaList | async" class="bulletin-board__item">
        <div class="bulletin-board__item-box">
          <div class="bulletin-board__image">
            <img  [src]="item.node.thumbnail_resources[4].src" alt="" srcset="">
          </div>
          <p class="bulletin-board__message">
            {{item.node.edge_media_to_caption.edges[0].node.text | truncate:75}}
            <a target="_blank" href="https://www.instagram.com/p/{{item.node.shortcode}}">more...</a>
          </p>
        </div>
      </div>
    </swiper>
  </section>
  <section class="about-chruch" id="aboutChruch" #aboutChruch>
    <div class="about-chruch__title">
      <p>
        認識教會
      </p>
    </div>
    <div
      class="about-chruch__part"
      *ngFor="let item of aboutChurch"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-easing="linear"

     >
      <div class="about-chruch__summary">
        <div class="about-chruch__summary-txt">
          <h2>
            {{item.title}}
          </h2>
          <p>
            {{item.content}}
          </p>
          <a (click)="showMore(item.key)">
            瞭解詳情 >>
          </a>
        </div>
      </div>
      <div class="about-chruch__photo">
        <img [src]="item.imgUrl" alt="" srcset="">
      </div>
    </div>
  </section>
  <section class="everywhere-map" #everywhereMap>
    <agm-map [scrollwheel]="everyWhereMap.scrollwheel" [zoom]="everyWhereMap.zoom" [styles]="everyWhereMap.styles" [latitude]="everyWhereMap.latitude" [longitude]="everyWhereMap.longitude">
      <agm-marker [latitude]="everyWhereMap.kaohsiungLatitude" [longitude]="everyWhereMap.kaohsiungLongitude"></agm-marker>
    </agm-map>
  </section>
  <section class="church-info" #churchInfo>
    <div class="church-info__container">
      <div class="church-info__map">
        <agm-map [latitude]="ChruchMap.latitude" [longitude]="ChruchMap.longitude" [zoom]="ChruchMap.zoom" >
          <agm-marker [latitude]="ChruchMap.kaohsiungLatitude" [longitude]="ChruchMap.kaohsiungLongitude"></agm-marker>
          <agm-info-window #infowindow [latitude]="ChruchMap.kaohsiungLatitude+0.0005" [longitude]="ChruchMap.kaohsiungLongitude">
            <div class="info-window">
              <img class="info-window__img" src="assets/img/KgbcLogo.png">
              <p>高雄榮美教會 </p>
            </div>
          </agm-info-window>
        </agm-map>
      </div>
      <div class="info" id="infoChruch">
        <p class="info__chruch">高雄榮美教會</p>
        <p class="info__address">台糖成功物流園區｜高雄市前鎮區成功二路四號</p>
        <ul class="info__transit">
          <li class="info__item">
            <p class="info__transit-title">
              捷運凱旋站
            </p>
            <p class="info__transit-content">
              168東／紅12A／紅12B
            </p>
          </li>
          <li class="info__item">
            <p class="info__transit-title">
              夢時代
            </p>
            <p class="info__transit-content">
              168東／36／70A／70B／70D／205／214A
            </p>
          </li>
          <li class="info__item">
            <p class="info__transit-title">
              物流園區
            </p>
            <p class="info__transit-content">
              36／70A／70B／70D／205／214A
            </p>
          </li>
          <li class="info__item">
            <p class="info__transit-title">
              捷運獅甲站
            </p>
            <p class="info__transit-content">
              12A／12C／9117／9117A／紅16
            </p>
          </li>
          <li class="info__item">
            <p class="info__transit-title">教會接駁車｜獅甲1號出口／每週日8:30-9:30</p>
          </li>
        </ul>
        <!-- <p class="infor-content__shuttle-bus">教會接駁車｜獅甲1號出口／每週日8:30-9:30</p> -->
      </div>
    </div>
  </section>
  <footer class="web-footer" #footer>
    <div class="web-footer__container">
      <p class="web-footer__contact-us">
        CONTACT US
      </p>
      <div class="web-footer__contact">
        <div class="web-footer__fan-page">
          <button mat-fab class="icon icon_black">
            <a class="icon__4040" href="https://www.facebook.com/JesusDesignKaohsiung/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                y="0px" viewBox="0 0 155.139 155.139" xml:space="preserve">
                <g>
                  <path
                    d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184   c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452   v20.341H37.29v27.585h23.814v70.761H89.584z" />
                </g>
              </svg>
            </a>
          </button>
          <button mat-fab class="icon icon_black">
            <a class="icon__4040" href="https://www.youtube.com/channel/UCg5K9jpvqFhZTORYvlHEnuw" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" height="682pt" viewBox="-21 -117 682.66672 682" width="682pt">
                <path
                  d="m626.8125 64.035156c-7.375-27.417968-28.992188-49.03125-56.40625-56.414062-50.082031-13.703125-250.414062-13.703125-250.414062-13.703125s-200.324219 0-250.40625 13.183593c-26.886719 7.375-49.03125 29.519532-56.40625 56.933594-13.179688 50.078125-13.179688 153.933594-13.179688 153.933594s0 104.378906 13.179688 153.933594c7.382812 27.414062 28.992187 49.027344 56.410156 56.410156 50.605468 13.707031 250.410156 13.707031 250.410156 13.707031s200.324219 0 250.40625-13.183593c27.417969-7.378907 49.03125-28.992188 56.414062-56.40625 13.175782-50.082032 13.175782-153.933594 13.175782-153.933594s.527344-104.382813-13.183594-154.460938zm-370.601562 249.878906v-191.890624l166.585937 95.945312zm0 0" />
              </svg>
            </a>
          </button>
          <button mat-fab class="icon icon_black">
            <a class="icon__4040" href="https://www.instagram.com/jesus_design.kaohsiung/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" height="511pt" viewBox="0 0 511 511.9" width="511pt">
                <path
                  d="m510.949219 150.5c-1.199219-27.199219-5.597657-45.898438-11.898438-62.101562-6.5-17.199219-16.5-32.597657-29.601562-45.398438-12.800781-13-28.300781-23.101562-45.300781-29.5-16.296876-6.300781-34.898438-10.699219-62.097657-11.898438-27.402343-1.300781-36.101562-1.601562-105.601562-1.601562s-78.199219.300781-105.5 1.5c-27.199219 1.199219-45.898438 5.601562-62.097657 11.898438-17.203124 6.5-32.601562 16.5-45.402343 29.601562-13 12.800781-23.097657 28.300781-29.5 45.300781-6.300781 16.300781-10.699219 34.898438-11.898438 62.097657-1.300781 27.402343-1.601562 36.101562-1.601562 105.601562s.300781 78.199219 1.5 105.5c1.199219 27.199219 5.601562 45.898438 11.902343 62.101562 6.5 17.199219 16.597657 32.597657 29.597657 45.398438 12.800781 13 28.300781 23.101562 45.300781 29.5 16.300781 6.300781 34.898438 10.699219 62.101562 11.898438 27.296876 1.203124 36 1.5 105.5 1.5s78.199219-.296876 105.5-1.5c27.199219-1.199219 45.898438-5.597657 62.097657-11.898438 34.402343-13.300781 61.601562-40.5 74.902343-74.898438 6.296876-16.300781 10.699219-34.902343 11.898438-62.101562 1.199219-27.300781 1.5-36 1.5-105.5s-.101562-78.199219-1.300781-105.5zm-46.097657 209c-1.101562 25-5.300781 38.5-8.800781 47.5-8.601562 22.300781-26.300781 40-48.601562 48.601562-9 3.5-22.597657 7.699219-47.5 8.796876-27 1.203124-35.097657 1.5-103.398438 1.5s-76.5-.296876-103.402343-1.5c-25-1.097657-38.5-5.296876-47.5-8.796876-11.097657-4.101562-21.199219-10.601562-29.398438-19.101562-8.5-8.300781-15-18.300781-19.101562-29.398438-3.5-9-7.699219-22.601562-8.796876-47.5-1.203124-27-1.5-35.101562-1.5-103.402343s.296876-76.5 1.5-103.398438c1.097657-25 5.296876-38.5 8.796876-47.5 4.101562-11.101562 10.601562-21.199219 19.203124-29.402343 8.296876-8.5 18.296876-15 29.398438-19.097657 9-3.5 22.601562-7.699219 47.5-8.800781 27-1.199219 35.101562-1.5 103.398438-1.5 68.402343 0 76.5.300781 103.402343 1.5 25 1.101562 38.5 5.300781 47.5 8.800781 11.097657 4.097657 21.199219 10.597657 29.398438 19.097657 8.5 8.300781 15 18.300781 19.101562 29.402343 3.5 9 7.699219 22.597657 8.800781 47.5 1.199219 27 1.5 35.097657 1.5 103.398438s-.300781 76.300781-1.5 103.300781zm0 0" />
                <path
                  d="m256.449219 124.5c-72.597657 0-131.5 58.898438-131.5 131.5s58.902343 131.5 131.5 131.5c72.601562 0 131.5-58.898438 131.5-131.5s-58.898438-131.5-131.5-131.5zm0 216.800781c-47.097657 0-85.300781-38.199219-85.300781-85.300781s38.203124-85.300781 85.300781-85.300781c47.101562 0 85.300781 38.199219 85.300781 85.300781s-38.199219 85.300781-85.300781 85.300781zm0 0" />
                <path
                  d="m423.851562 119.300781c0 16.953125-13.746093 30.699219-30.703124 30.699219-16.953126 0-30.699219-13.746094-30.699219-30.699219 0-16.957031 13.746093-30.699219 30.699219-30.699219 16.957031 0 30.703124 13.742188 30.703124 30.699219zm0 0" />
              </svg>
            </a>
          </button>
        </div>
        <div class="web-footer__summary">
          <p>
            高雄榮美教會
          </p>
          <p>
            聚會時間: 星期日 AM 9:30 - 12:00
          </p>
          <p>
            通話: 07-972-2515
          </p>
        </div>
      </div>
      <div class="web-footer__subscription">
        <p>訂閱</p>
        <p>我們</p>
      </div>
    </div>
  </footer>
</div>
