<div class="history">
  <p class="c1"><span class="c5">高雄榮美教會歷史編年大事記</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">1997.09 &nbsp;張建中牧師夫婦在台北榮美基督教會接受差派，來到高雄建立高雄榮美基督教會</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">1997.10 &nbsp;高雄榮美基督教會在位於文化中心附近四維國宅的家中開始主日感恩崇拜。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">1998.02 &nbsp;因聚會人數增加遂遷至文化中心的玫瑰大廈聚會，並開始了兒童主日學。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">1998.09 &nbsp;因聚會人數增加，遷移至光華一路259號的現址。並陸續開始各家庭小組聚會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">1999.06 &nbsp;高雄榮美基督教會宣佈財愛務獨立。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2002 &nbsp; &nbsp;聘請並按立陳憶湘傳道為高雄榮美教會第一位全職傳道人，全職牧養教會的學生族群，並成立學青牧區。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2003 &nbsp; &nbsp; 教會學青牧區首度於墾丁出火舉辦第一屆夏令營會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2004.07 &nbsp;教會帶領同工與會友前往韓國首爾參加為期六天五夜之第十六屆訪韓聖會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2005.07 &nbsp;教會帶領同工與會友前往韓國首爾參加為期六天五夜之第十七屆訪韓聖會，參加人次多達36人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2006.07 &nbsp;教會帶領同工與會友前往韓國首爾參加為期六天五夜之第十八屆訪韓聖會。</span></p>
  <p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
  <p class="c1"><span class="c0">2006 &nbsp; &nbsp;
      新加坡城市豐收教會來台舉辦Emergy青年大聚會，教會推派學青牧區前往參加，贏得啦啦隊第一名、講道比賽第一名、腕力比賽第三名等多項競賽。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2007 &nbsp; &nbsp; 成立榮美青少年關懷中心，並於光華一路開設堤比里亞異國美食餐廳，培訓青年領袖。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2007 &nbsp; &nbsp; 憶湘傳道前往新加坡城市豐收教會接受裝備。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2007.03 &nbsp;按立陳思恩傳道為教會全職傳道人，全職牧養教會的學青牧區。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2008.03 &nbsp;陳思恩傳道與陳憶湘傳道結為連理。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2009.03 &nbsp;張建中牧師前往美國愛修園進修。並結束堤比里亞異國美食餐廳營業</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2009.11 &nbsp;舉辦第一屆遇見神營會，學員20人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2009.06 &nbsp;陳思恩傳道夫婦正式接下高雄榮美基督教會牧會工作。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2009.05 &nbsp;首度舉辦高雄榮美教會的母親節園遊會，並在教會十二樓頂擺設園遊攤位，吸引許多人前往參加。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2009.08 &nbsp;舉辦第一屆創意主題館-五彩毛毛蟲。參與人數190人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2009.10 &nbsp;舉辦第二屆創意主題館-創意遊樂園。參與人數210人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2009.10 &nbsp;舉辦莫拉克88風災賑災演唱會，並邀請彩虹天堂歌手藝人團參與演出。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2010.02 &nbsp;舉辦主題概念館-2012非行少年。由18個創意館結合體驗式活動，讓您了解何謂非行少年，並受邀聯合報採訪。參與人數達250人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2010.03 &nbsp;邀請更新協會張思聰牧師連續3個月教導內在醫治。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2010.06 &nbsp;精兵中心成立。址為：高雄市苓雅區中正二路91-1號六樓</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2010.10 &nbsp;首次邀請新加坡城市豐收教會恩賜牧師來訪，並首度舉辦高雄教會聯合聚會。舉辦於長青綜合活動中心，參與人數達600人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2010.12.11 第二屆榮美教會遇見神營會於大津營地舉行。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2010.12.12
      &nbsp;中山大學海水浴場受洗禮拜，共20位屬靈新生兒：李碧蓮、賴秀月、吳媄琪、薛米鈞、王婕倫、林宛萱、蔡孟君、宋映蓉、宋映螢、陳羿瑄、陳怡儒、黃琬玲、林善淳、蔡依伶、陳昱璇、潘政豪、黃正賢、顏立寰、王湘語、陳信均。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.02 榮美教會大津營地退修會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.05 &nbsp;彩虹天堂榮美工作坊第一屆夢想季開跑，期待校園工作結合，打造高雄學校成為夢想之地。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.05.28 &nbsp; 夢想季系列活動-STRANGER LIVE HOUSE演唱會-地點前金國小大禮堂。參與人數達600人。 </span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.06.11 &nbsp; 夢想季系列活動-Let’s GO
      Boom夢！共10項創意比賽，新創藝大賽正式開始，期待高雄校園學子挖掘潛能、發揮專長！找到自己的夢想！</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.07.13~7.16 &nbsp; &nbsp;夢想季系列活動-暑期營會 Evolution
      Camp轉化營會，於台南加利利營區舉行四天三夜。擁有體驗教育瘋狂遊戲與探討生命價值意義解任務活動營會。參與人數達150人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.07.30 夢想季閉幕式頒獎典禮，首次舉行於高雄醫學大學大禮堂。參與人數250人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.09 &nbsp; &nbsp; 楠梓校園關懷中心成立，精兵中心改名為苓雅校園關懷中心</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.10.14 &nbsp; &nbsp;NewLeaderLight系列活動-愛情先修班-首次邀請校園雜誌主編-朱惠慈講員</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.10.15 NewLeaderLight系列活動-校園社團嘉年華 ，首次邀請高醫各樣社團參與表演，舉行於高雄醫學大學大講堂</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.10.16 &nbsp;
      NewLeaderLight系列活動-創意主日-百年之最，首度以民國百年年度最夯基督徒為主題，透過戲劇、舞蹈、訪談、MV呈現在各專業領域發光發熱的基督徒名人</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.10.22 &nbsp; NewLeaderLight系列活動-愛戀情深愛情講座，邀請希望之光專員-蔡宗勳，舉行於高雄醫學大學講堂</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.10.23 &nbsp;
      教會復興特會-首次邀請屏東長老教會-葛兆昕牧師，釋放神大能話語教導基督徒與非基督徒，都應該掌握及行使神所賞賜給人的權柄，參與人超過200人</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.11.04-06 &nbsp;
      &nbsp;張志雄牧師醫治特會，連續三天舉行基督徒與非基督徒特會，醫治釋放神的大能，並帶領人悔改回到天父懷中，再次領受天父犧牲的愛。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.11.27 &nbsp;
      &nbsp;中山海水浴場受洗禮拜-受洗人：廖麗綺、林芊妤、蔡知均、楊月櫻、林坤茂、邱麗婷、陳聖茹、黃嘉均、劉惠青、洪逸銘、劉騰駿、陳美琇、曾至甫、詹榮鈞、陳欽暉、許育熙、郭子豪、吳俞賢、魏鳴慶、李芊萱、陳冠璇，共21位屬靈新生兒。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.12.10 &nbsp; &nbsp;
      &nbsp;NewLeaderLight系列活動-校園設計博覽會，首次結合各校設計菁英於高醫B1康樂室舉行設計展，內容涵括：走秀、攝影、視覺平面設計、工業設計、美術、裝置藝術，內容精彩豐富。參與人超過250人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2011.12.23 &nbsp;
      &nbsp;大型聖誕晚會-聖誕明星夢-首次於高師大附中大禮堂，舉辦超過650人聖誕節大型活動，內容精彩豐富，首次結合：戲劇團隊、舞蹈團隊、福音解籤精彩呈獻。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.01.07 &nbsp;
      &nbsp;創意主日-黑與白的世界，以黑與白為衣裝打扮主題，教會為每位會友進行留影拍照，思恩傳道並以神大能話語釋疑人性黑暗與光明面，以及該如何用聖經的教導來面對人生！</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.01.16 &nbsp; &nbsp;STRANGER LIVE HOUSE第五場演唱會，參與人超過200人次。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.01.21 &nbsp; &nbsp;榮美教會退修會-苓雅校園關懷中心</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.02.04-05 &nbsp; &nbsp;張志雄牧師醫治特會</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.02.12 &nbsp; &nbsp;榮美BBQ主日，首次舉行全教會野外主題性崇拜主日-地點小港社教館</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.03.02 &nbsp; &nbsp;復活節吃到飽餐會PART1-地點高師大附中大禮堂，出席人數達370人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.04.06 &nbsp; &nbsp;貞YOUNG少年兩性課程開始，首度邀請右昌教會 麗汶師母於每周六早上進行，課程為期一個月</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.04.08 &nbsp;
      &nbsp;復活節系列活動-復活節歡慶主日&amp;中山海水浴場受洗禮拜-受洗人：官明慧、林政宏、商潔安、徐秉立、周家瑀、林成燾、葉庭伃、黃彥傑、翁子豐、商沛茹、翁欣妤、呂佩蓉、李勝騰、李瑋庭、黃品翔、馬揚軒、黃卉綺、葉怡伶、李杰龍、蔡東昇、潘俊豪、黃靖瑋、秦揚、柯威傑、林華真、鄭會群，共26位屬靈新生兒。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.04.14 &nbsp;
      &nbsp;復活節系列活動-葛兆昕牧師復興特會-好的開始是成功的一半？透視參孫的三大生命問題：1.忽略自己的身分與使命2.用虛假和欺騙企圖保護自己3.衝動和自我中心自以為是自我滿足行為，提醒並幫助榮美教會前往下一個領域突破邁進。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.04.21 &nbsp; &nbsp;韓國MENTOR舞蹈天團
      城市巡迴演出高雄場&amp;舞蹈交流會，參與人超過1200人，MENTOR舞團生命力為高雄帶來新一波榮耀神的新使命新形象</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.04.22 &nbsp; &nbsp;韓國MENTOR舞蹈天團
      特別主日首次舉辦於夢時代八樓演藝廳，並結合夢時代任務GO&amp;電影欣賞一整天的時尚復興活動特會。參與人超過540人次</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.04.22 &nbsp; &nbsp;貞YOUNG少年兩性課程結業(為期一個月)-右昌教會
      陳麗汶傳道，期待右昌課程團隊的擺上成為高雄榜樣，也將這樣的恩膏繼續留在榮美教會成為高雄祝福</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.05.06 &nbsp;
      首次於街頭舉行歡慶母親節活動-高雄新崛江街頭舞蹈快閃，1分鐘嗨翻舞蹈表達對媽媽的熱情，結束時更一起大喊"母親節快樂-彩虹天堂榮美工作坊愛你"並實際向路人發放母親節卡片禮品實踐對母親愛的行動！參與人數超過110人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.05.06 &nbsp;
      &nbsp;第二屆夢想季 愛麗絲夢遊仙境 -開幕式暨第二屆新創藝大賽全新10項比賽，期待轉化高雄青少年文化，幫助青年學子找到屬於自己的才能、夢想、並勇於實踐！首次邀請[一元]表演藝術團、小彥魔術師參與演出！！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.05.19 &nbsp; &nbsp;榮美教會劉惠青姊妹告別式暨靜靜公主的布丁館追思主題館</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.05.20 &nbsp;
      &nbsp;新加坡城市豐收教會華文堂牧師-梁恩賜牧師主日特會-傳講信息：神醫治的心意。更用神大能話語宣示，醫治在哪裡，神的國就在哪裡！拓寬教會對於醫治的認識與使命。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.05.21-22 &nbsp;
      &nbsp;康麥克牧師醫治釋放特會暨訓練會-首次邀請現代驅魔大師蒞臨教會，兩天晚上不只醫治釋放許多受壓制人群，一個上午同工訓練會，親自解釋如何預備一個人得釋放需要明白邪靈是怎麼進來的！倚靠聖靈我們可以做耶穌所做的！帶給教會對於醫治釋放恩膏的拓寬！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.05.26 &nbsp; &nbsp;榮美教會BIG DAY
      大團圓---首次在新會堂舉辦專屬於榮美的家人吃到飽餐會！並邀請教會的好學生樂團及拉麵MASA雙人組合LIVE演唱，DANCE時間信宏弟兄更寶刀未老秀上一段精彩國標，戲劇團隊演出[康熙來了]與時下流行語[淡定紅茶三姊弟]帶出新創藝大賽的宗旨！接著以一連串復古懷舊的讚美敬拜詩歌組曲做終場！現場充滿濃濃的溫馨氣氛，神的愛就在神所呼召的一群家人當中！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.06.10 &nbsp;創意主日-好家在有你
      榮美教會首次以婚姻為主題的『好家在有你』創意主日！再次透過新一代更豐富的戲劇團隊！剪輯街頭訪問與熱門新聞的精彩影片！！來呈現現代人與教會不同的婚姻觀！除了教會已屆適婚年齡的五帥獻出求婚大告白處女秀！秀月姊與李大哥夫婦也首次在全教會前進行默契大考驗遊戲！陳思恩與陳憶湘傳道夫婦壓軸接受主持人婚姻大哉問！解答了許多基督徒男女對於婚姻的憧憬！最後，思恩傳道更以神的話語勉勵所有在場會眾！要預備好自己成為對的人！期待對的婚姻並開始為自己所期待的婚姻認領禱告！才有機會讓神來調整自己並擁有期待的婚姻！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.06.23-24 &nbsp;
      第二屆夢想季初賽-10項比賽特別以 愛麗絲夢遊仙境 為主題，包含有：給愛麗絲&lt;歌唱&gt;、瘋狂下午茶&lt;樂團&gt;、兔子先生的燕尾服&lt;走秀&gt;、毛蟲博士的講座&lt;百萬小學堂&gt;、國王球場&lt;三對三鬥牛&gt;、War
      of &nbsp;Twins&lt;電玩大賽&gt;、龍蝦方塊舞&lt;舞蹈比賽&gt;、女王的攝影師&lt;攝影比賽&gt;、賊貓的戲法&lt;變種人&gt;、The Wonder
      Land&lt;製片比賽&gt;。有許多第一次參賽的年青學子與社會人士都全心投入比賽大秀才藝！首次邀請評審有：</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">走秀評審---高雄市新娘秘書發展協會理事 申淳霖</span></p>
  <p class="c1"><span class="c0">樂團評審---知名樂團BASS手 古傑安</span></p>
  <p class="c1"><span class="c0">歌唱評審---微笑樂器行經理 微笑 現任藍色狂想樂團吉他手</span></p>
  <p class="c1"><span class="c0">攝影評審---亞諾設計公司設計總監 許志誠</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.07.21-22 &nbsp;教會首次邀請澳洲Gateway城市教會主任牧師Scott Hanzy
      ，在週六下午與周日早上主日舉辦特別聚會。牧師運用小兒子與大兒子與天父的關係，帶來信心的信息；主日聚會中也親自為疾病綑綁中的會友按手禱告釋放。神的愛與大能再次透過神的僕人彰顯。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.07.22 陳威全-&lt;&lt;傾聽&gt;&gt;演唱會高雄場，首次舉行於雙子星新會堂，威全好友羅文裕與&lt;&lt;傾聽&gt;&gt;
      mv女主角張平也現身在高雄。威全真摯的傾聽計畫與現場溫暖的歌聲，感動現場200多位熱情的歌迷。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.07.29 &nbsp;第二屆夢想季閉幕式，首次舉行於高應大中正堂，出席人數達人，10項比賽的決賽接連演出，讓整場氣氛嗨翻天。並邀請曾擔任過STRANGER
      主唱，現任 KISS RADIO節目企編的楊淳盛現場演唱。第二屆更精緻化，更專業化的工作團隊與參賽團隊，為這屆夢想季畫下最美尾聲。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.08.20-26
      榮美教會首次舉辦為期六天事工營，內容豐富包含：台南靈糧堂DVD課程，教會主任傳道陳思恩一六計畫課程，陳憶湘傳道印尼敬拜課程教授、沈錦秀牧師靈修與禱告，總務組事工訓練、文字組事工訓練、接待組事工訓練、招待組事工訓練、活動企畫組事工訓練、戲劇組事工訓練、多媒體事工訓練；第四天下午高雄市大賣場鬼影追追追任務GO活動。並特別邀請屏東和平長老教會葛兆昕牧師與敬拜團，連續三天晚上來到教會復興特會講道。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.09.23 西子灣受洗禮拜，受洗新生兒有：李進德、陳德旺、林俊翰、賴德維、王若宇、 鄭宇佋、 吳沅修、 陸翰陞、 蘇罕、 陳芷芸、 顏加惠、陳毓鵑、
      林亭姿、徐子浩、 陳仲宣、謝同喆。共16名。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.11.24 教會首次主打JESUS
      DESIGN概念，下午及晚上兩場JD主題館以暢銷電影-顛倒世界為包裝，吸引超過上百位青年學子與社會專業人士參加，並參加JD創意主日。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.11.25 JESUS DESIGN創意主日，JD概念正式發表：耶穌基督道成肉身的生命成為榜樣，在生活裡活出耶穌基督的形象，成為耶穌的代言人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2012.12.01 STRANGER LIVE HOUSE 第六場演出，首次於寶成雙子星大樓B1會堂舉行，超過兩百人參與，邀請星光三班14強赤子樂團吳正傑老師、KISS
      RADIO金鐘獎入圍DJ楊淳盛、街頭藝人-一元藝術團參與演出。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.02.04-07 首次於曾文水庫舉行為期四天三夜
      JD寒假青年福音營會-尋找失落的達斯特(DESTINE命定)：共計有上百名青年學子在營會中成為JD帝國的J勇士，並成功找到屬於自己的生命地圖：我是誰？我能做什麼？我能信靠誰？等生命議題。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.03.03
      首次連續六周以信心的種子為主日主題：03.03信心種子-黃豆：格局。03.10信心種子-紅豆：言語。03.17信心種子-米豆：堅持。03.24信心種子-黑豆：成熟。03.31信心種子-綠豆：行動。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.03.31 Jesus Design季主打拼圖人生-馬卡龍色系，教會發表首支微電影-拼圖人生。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.04.01-05 思恩傳道帶領教會前往台北新生命小組教會參加教會增長研習營，獲取寶貴實戰經驗返回，受訓學員約4、50人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.04.07 信心種子發表主日，首次邀請前六周參與信心種子主日會眾，舉行種子見面會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.04.19-21
      第三屆遇見神營會，首次專為成人牧區舉行，地點：大津營地。將近40位成人牧區社青，許多為了遇見神的社青，也願意請假參加周五開始的營會，帶著渴慕來到當中，成功點燃成人牧區對神熱情。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.04.27-28 首次邀請康希牧師國際翻譯-傅璐璐姊妹，領袖訓練特別聚會，為期兩天。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.05.10-11 首次邀請林博堂牧師分享聖靈的恩膏特別聚會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.05.18-19 首次邀請王倩倩傳道，上癮的真相特別聚會，為期兩天，出席人數達300。本年度首次分堂聚會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.05.26-27
      首次舉辦OUTBREAK初賽，參加對象以教會會友為主，比賽項目共有12項：講道比賽、整體造型比賽、場佈總務比賽、攝影比賽、聖經百萬小學堂、翻譯比賽、微廣告比賽、小記者比賽、雙主持人比賽、創意活動比賽、詩歌百萬大歌星。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.06.01 首次於會堂舉行新創藝營一日營項目有：音樂營、舞蹈營、多媒體營、整體造型營。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.06.02
      西子灣受洗禮拜，受洗新生兒有：蔡佳慶、劉同岳、龔琪、許靈芝、陳心聆、楊子慧、兵忠儒、莊郡婷、蕭媺巧、莊藝芸、陳浩瑄、許雅涵、胡佳琳、邱捷亞、錢愇澄。共15名。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.06.08 JD反戰祈福晚會，首次於夢時代8樓時代會館演藝廳舉行，為台灣禱告出席人數超過400人。特別演出邀請：KISS RADIO
      DJ-楊淳盛、赤子樂團-吳正傑、街頭藝人-塗鴉墨魚、高雄街舞團、三民家商走秀團隊。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.06.15-16
      OUTBREAK決賽，參加對象以教會會友為主，比賽項目共有12項，獲獎名單：講道比賽第一名-陳仲宣、整體造型比賽第一名：陳佳婷、場佈總務比賽第一名：吳仁宇、攝影比賽第一名：陳心聆、聖經百萬小學堂、翻譯比賽：陳韋佳、微廣告比賽：溫宇婷等
      、小記者比賽第一名：陳仲宣、雙主持人比賽、創意活動比賽、詩歌百萬大歌星第一名：顏予恩。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.06.15-16 首次邀請成資國際總經理-黃禎祥老師分享人生成功哲學-生命見證特別主日。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.06.23 首次於主日舉行OUTBREAK比賽發表。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.06.27-06.28 首次邀請美東最大華人教會──若歌教會黃小石長老舉辦特別聚會。合辦教會：福氣教會、武昌教會、大地豐收教會、榮美教會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.06.28-30 第四次初階遇見神營會，首次於教會主堂舉辦三天兩夜營會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.07.24
      首次邀請澳洲心理學權威，國際心理學家－羅比松德博士特別聚會。並有台北新生命小組教會宣教團隊：黃美珍、陳威全藝人分享創意流行文化研討會。特別邀請台南及高雄眾教會參與。合辦教會：福氣教會、武昌教會。教會不重複出席人數達450人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.07.26-27 兒童牧區首次舉辦兒童戲劇營。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.07.27-28 主日首次邀請美國若歌教會宣教士：陳信評弟兄講員，主題：人生的「四個定律」收割、恩典、愛和赦罪。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.08
      首次連續五周創意主日，每周不重複出席人數超過300人。主題：08.03-04星座大搜查、08.10-11聽說愛、08.17-18勇者無懼、08.24-25大腦不知道的真相。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.08.30-09.01 第一屆進階遇見神營會：週日邀請特別講員-張思聰牧師，講題：饒恕、聖靈恩賜。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.9.19-20
      首次專為社青舉辦第一屆兩性健康互動營會，活動內容精心策劃：在神的心意裡的男女及男女關係、認識自己的人類型與不同類型的人相處，參加弟兄姊妹反應熱烈表示感謝教會對於健康兩性的教導與互動體驗。活動地點：墾丁、恆春。參加人數32。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.09.28 第7場STRANGER樂團迎新演唱會，首次舉行於勞工育樂中心共計超過1350人參加。邀請星光三班14強赤子樂團吳正傑老師、KISS
      RADIO金鐘獎入圍DJ楊淳盛、街頭藝人團隊-追夢飛翔、蘋果糖樂團、DJ-Don、高第一科大群音社-蕭建堂參與演出及J-DOUBLE D舞團盛大陣容演出。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.10.19
      &nbsp;首次邀請洪漢義弟兄生命故事見證主日，來自前香港14K黑幫老大分享，因憂鬱症得醫治信耶穌後六年的時間，終因體會到天父的愛，親眼見證上天堂下地獄，放下黑幫事業權力、金錢、女人的奇妙帶領。鼓勵許多人放下世界名利，真正的義氣是願意傳福音給未信主的家人朋友。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.10.26-27
      首次邀請台北復興堂-柳子駿牧師特別主日聚會。周六信息：脫離孤單進入關係，神說獨居是不好的，恢復關係就必須解決懷疑、曲解、漫不經心的問題，才能在基督裡做一家人、有陪伴勝過試探、靈命成長，而比較、定罪與反駁也會導致我們不能與人同心；周日信息：接納罪惡。從小就在牧師家庭長大的子駿牧師，由於父母忙碌於服事，常感覺缺乏關愛，甚至長時間壓抑自己的心，只會戴上完美的面具來過生活；但是在真正經歷神的愛之後，發現原來得到最多恩典的是自己，原來真正需要恩典的，是心最剛硬的人。牧師鼓勵會眾，不因認識神而自覺高人一等，而要因為明白自己是罪人，並且經歷神的無條件的接納跟愛，才能回應耶穌呼召去愛、體貼、接納人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.10.28
      首次邀請新加坡城市豐收教會副主任牧師-陳一平牧師特別聚會。分享兩堂信息：一、得救的意思是重生走窄門，容易進去的寬門也容易出來，不易進去的窄門，也不易出來，福音不是知識，而是耶穌的生命。透過全新的角度來詮釋聖經與福音書，教導「真正的基督的生命」，也激勵我們每天靠著真理心意更新而變化，行出耶穌真正的教導，而非我們自己的真理。二、操練像耶穌動慈心，做鄰舍是一個付出愛的結果，而不是因為對方是什麼樣的人才決定要付出。鼓勵會眾永遠都要追求最好的福份，不要像馬大一樣一直做事情，而要讓上帝的話帶領我們的生命，並用自己曾經受幫助的生命，學習耶穌捨命，成為身邊的人的好鄰舍。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.10.29 首次舉辦全省榮美教會牧者同工禱告會，來自台北與台中榮美教會共計7名長老牧者出席聚會。參與禱告會人數：135人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.11.02
      新加坡城市豐收教會華文堂牧師-梁恩賜牧師主日特別聚會，信息主題：禱告。軟弱無力是因為缺乏神的同在，沒有任何地方比神的同在更安全，牧師呼召會眾與神立約每日親近他30分鐘，下載神的同在在我們裡面，將使我們有信心和力量、靈命突破，牧師以毛蟲在繭裡終能蛻變成蝶為比喻神的同在將使我們生命有力量能跨越超乎我們想像的挑戰。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.11.03 洪漢義弟兄主日特別聚會，以自己親身經歷，呼籲認識獨一神的重要，以及真正的義氣是帶領家人朋友離開罪惡進天國。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.11.04
      首度邀請北京大學鄭學禮教授，特會主題信息：1.真正的儒教思想2.民主政治與人權。博士對於中國文化與聖經深厚的研究與學識，啟發百名社會專業人士與學生，認識真正的儒家思想跟基督教的淵源，以及解釋耶穌以行動服事典範成為民主自由人權政治的精神，民主政治是罪人政治，所以需要律法規範，而律法的總結就是愛。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.11.10 高雄榮美教會首開第三堂主日，聚會時間為每周六晚上6:40-8:30、每周日上午10:00-12:00及每周日中午12:30-2:30</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.11.22-23 第二屆社青兩性健康互動營會，活動地點：墾丁、恆春。參加人數30人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.11.25
      首次邀請新加坡城市豐收教會主任牧師-康希牧師來到教會分享信息如何因著信得著上帝給的應許。當我們真正面對生命中的亂流，所有的感覺跟知識都無法仰賴的那一刻，唯一能幫助你客觀面對的，就是神的話。信心是一種態度，是即使環境再惡劣，你都能持續的說出神的話和神對你的應許。聚會參加人數達289人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.11.30 第二屆新創藝營會及首次新創藝營發表主日，報名學員248人。表達何謂「素人的影響力」，並首次邀請來自各領域專業人士分享。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.12.21
      首次於高師大活動中心舉辦重生聖誕晚會，出席人次達1200人以上，決志人數超過300人，活動內容包含STRANGER樂團、JDD舞團、魔術秀、榮美戲劇團隊。全場一起點起手中蠟燭，象徵我們的生命也要因著耶穌而重生。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.12.28
      歲末年度聖誕大團圓特別聚會，邀請聖誕晚會新朋友參加，以小組為題，有戲劇、影片、見證分享等活動內容精彩豐富，小組生命改變的見證人：許桂枝、莊郡婷、陳奕良、黃嘉均、李佳音、龔琪、林欣儀。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2013.12.29
      恩賜牧師希望再現特別主日聚會。透過巴底買瞎眼得醫治的生命故事，鼓勵我們也能希望再現的四個關鍵：1.期待更好的未來2.大膽堅持的禱告3.丟棄負面想法4.帶著信心坦然接近耶穌。主日人數目標達成年度目標300人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.01.22-24
      首次以教會異象為主題，於曾文水庫舉行三天兩夜退修會，透過體驗式遊戲互動將五大面向與五大策略應用在生活中，也連結起所有人的心，讓人與人、人與神關係更加緊密。參加人數172人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.02.02
      首次與新生命小組教會聯合新春主日聚會，歌手羅文裕獻唱，證道講員：詹鴻恩傳道。主題：成為蒙福的器皿。鼓勵會友在新的學期、職場生活即將展開時，明白上帝要成就更多更大的事，要有願意回應上帝的心志，才能成為他傾福的器皿，讓2014年成為豐收的一年。出席人數達288人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.02.23
      旗津受洗禮拜，受洗新生兒首次突破32人：王冠傑、王暄雅、王聖傑、吳岳軒、吳苡瑄、吳庭勳、李佳音、李杰霖、李登發、阮家琪、林欣儀、林姿儀、林津鈺、邱家詮、侯佑霖、梁絜茵、許哲彰、陳佑興、陳奕良、陳思綺、陳薇雅、黃玉縈、黃茹筠、黃鈺軒、潘春強、蔡哲宇、蕭任洲、蕭靖樺、簡子琳、羅思穎、羅紫菱、馬莉(按姓名筆畫)，觀禮人數首突破200人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.03.15 教會博雅生活-年長者居家照護講座，講員：前方舟養護之家督導 賴瑞月老師，分享扎實的護理實務經驗，參加人數達三百人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.04.12
      陳威全&lt;全是愛&gt;音樂生命見證分享主日，現場236人不只陶醉在歌聲裡，更被他從馬來西亞來到台灣追逐夢想的過程感動，他分享如何從灰心失望經歷上帝的帶領：是神的話語改變他的思想，是教會的訓練拓寬了他的彈性。現在他不但是教會的小組長，也繼續用他的歌聲與創作感動每一個人，甚至進入流行文化，為主贏得靈魂。一首他寫給上帝的歌曲「全然相信」中，唱出了他在教會門徒訓練的過程中，有許多挫折和不滿情緒，但威全選擇謙卑降服在上帝和領袖面前。整場聚會充滿了在命定中，對上帝、對領袖及對靈魂愛的見證與感動。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.04.26-27
      第七號當鋪-復活節創意主日晚會，出席人數達329，並首次舉行於中正郵政總局6樓禮堂，透過戲劇、影片及自創的心理測驗，呈現了各種人格的生命以及他們內心的矛盾，不但深入觀眾的心，更讓許多人反思自己性格上的盲點。陳思恩傳道邀請在場每一個人，思想復活節背後所代表的意義，正是一個重生的機會，無論我們天生的性情如何，最重要的是，當心裡接受耶穌的時候，就有了一個重新開始的生命，「若有人在基督裡，他就是新造的人」，期待不只是復活節，讓每天都是新造的人！雙主日不重覆出席人數達372人，晚會新朋友86人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.04.27 首場Real
      Man男仕事工特別聚會，講員邀請來自基督豐收教會Garrick李永寧傳道，特別的是，這場聚會只有男性能夠參加，Garrick傳道被現場弟兄渴望做真男人的心感動，特別鼓勵在場男性，不要盲從世界的真男人定義，要專注在神所賜的命定上，成為按真理而活神所喜悅的男人，也要擁有3G：Guard保護.Guide引導.Govern管理.並以Garrick傳道最欣賞的聖經人物大衛王為榜樣：1.有責任感(不只是大事忠心，小事也忠心)2.勇於面對問題(看到問題不是躲避是要有熱誠地去解決)3.正直的人(不做外表的人)4.有勇氣認錯(犯錯時放下自己的面子)5.全心愛神(像大衛一樣無時無刻愛神)</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.05.07
      康希牧師特別聚會，牧師教導我們要「脫下你的鞋」尋求聖靈，因為聖靈正在尋找渴慕的人，真實的讓聖靈觸摸，全然的向聖靈說來信靠我，就算我們不完美，都要向聖靈說接受我的一切，因為我們是這麼的愛上帝。康希牧師也以一對離婚夫婦的經歷，愛就要受苦，「神愛世人，甚至將他的獨生子賜給他們。」原來上帝也是這樣受苦。出席人數281人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.05.17
      首次舉行榮美教會讚美季。敬拜樂手透過自己在敬拜裡的見證，鼓勵台下每位聽眾，在敬拜裡重新得力，就像他們在自己生命裡所經歷的一樣，不只是像演唱會一樣跟著人群唱動跳而已，是從心裡面發出對上帝渴望。出席人數257人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.06.01
      首次邀請加拿大華人磐石教會張大業牧師，信息「天父的愛」改變許多人心中天上父親的形象，出席人數236人。下午裝備課程主題「聽神的聲音」將上帝如何使用話語安慰、造就與勸勉人的心意與方式傳遞給眾人，不只領受更有信心能夠有效的運用在教會關懷系統內，讓人經歷上帝真實有效的工具。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.06.15
      首次於高雄國軍英雄館主日聚會，榮美教會帶著上帝的呼召來到此地，深信上帝應許會成就，調整聚會時間為早上9點30分至11點30分，啟用接駁車從中央公園站至聚會地點。聚會人數288人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.07.04-06
      恩賜牧師特別聚會，為期三天教導主題涵括：感恩與敬拜、禱告、讀經、聆聽神的聲音、耶穌想去的地方。恩賜牧師所帶來的信息與恩膏，感動呼召人悔改願意付代價操練、愛人，這也是唯一使人更像耶穌的方式。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.07.08-11
      暑期轉化營會-為期四天三夜，以SUPERME為主題，轉化學員生命，找到恢復命定的路以及神所揀選最有價值的自己。參加對象為高雄高中職大專生，首創CSI創意闖關活動，舉辦地點為曾文水庫，人數首突破272人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.08.03 首創八月創意主題月，第一周是漢堡主題派對，首次舉行於高雄女中演藝廳，本月JD主打主題色系為黃綠、黃紅、黃澄。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2014.10.12-11.22
      第三屆夢想季新創藝大賽，共計8項大賽：三對三籃球賽、百萬小學堂、走秀比賽、創意變種人、新媒體比賽、歌唱比賽、排舞比賽、樂團比賽。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.01.11 首次舉辦黃美珍音樂見證分享會。黃美珍首次來到榮美教會，帶來她的新專輯「大巴六九」和大家見面
      。穿透力的歌聲把每首歌的意義唱出來。美珍分享：「當我不知道自己核心價值是什麼，在世界裡不斷尋夢，卻被這世界消耗。直到我遇見了耶穌，我把自己的夢想交給了上帝，同時上帝也使用我去完成祂的夢想，現在我唱歌很開心。」最後她更為大家祝福禱告，期待上帝的愛觸摸每個人，使我們能因著這份愛去愛身旁的人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.01.18
      康希牧師特別主日，耶穌有許多不同的形象，康希牧師分享了這些形象帶來的各種經歷及見證：他名稱為奇妙策士、全能的神、永在的父、和平的君。康希牧師更鼓勵教會要有同一心志，每一間大教會都是從小教會開始的，不用羨慕其他人，榮美教會是一間有異象的教會，康牧師更強調，異象是會實現的，但是必須不斷地堅持，接受耶穌只是個開始，支持牧者、把教會建造起來，需要榮美教會的所有人一起努力。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.01.30-31
      全新內容的新媒體營會為期一天一夜。透過新媒體營認識到媒體的影響力遠超過我們想像，媒體的亂象越演越烈，學習使用新媒體是時下最重要課題之一。全民策展的時代，你我都是新媒體人，學習分辨亂象釐清事實，關注社會議題，善用媒體工具，創造屬於自己的圖文，用正面的文字來改變這世代。媒體不是工具而是我們的「思想」。教會鼓勵會友起來成為最有影響力的真理代言人！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.02.01
      特別主日主題：不再當好人。思恩傳道分享要成為對的人之前，你需要先學習和人成為真正的朋友，美國心理專家約翰高特曼曾說過，好的婚姻是以深厚的友誼作為基礎，友誼是讓我們和人有更進一步關係的根基。成為對的人並非難事，只要你願意按照真理而活，先學習和別人建立友誼，相信你也是下一個對的人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.02.15 首次以 關係大掃除為主題特別主日，是結束也是全新的開始。鼓勵會眾做一個決定，選擇擺脫過去習慣的模式，開始用上帝的愛經營生活。 </span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.03.05 首次舉行Celebration Night，週二出席人數222，為上季主打Outbreak總結與見證神的作為，並公布下季JESUS
      DESIGN主打「Unity合一」，探討合一榮美人的特質，鼓勵會友合一建造教會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.03.22 首次舉行「男士之夜」（gentleman's
      night），弟兄們聚集「超重低音」敬拜讚美，並探討所謂男士的定義是什麼，以五個品格（忠心、可靠、善良、正直、負責）和五個特質（幽默、智慧、自信、熱情、慷慨）為出發點去檢視自己。參加對象有高中和大學的弟兄，因著這次男士之夜有更多的接觸，建立健康的肢體關係，弟兄們也透過這樣的男士之夜更加認識自己的身份，期待自己能更加成為教會的領袖，眾人的榜樣。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.03.23 首次舉辦密室逃脫記憶攔截碼，地點於寶成企業大樓，周一三五與周末採預約制舉行。本活動仍持續進行中。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.04.18-19
      首次舉辦為期兩天張大業牧師特會，牧師目前於加拿大華人磐石教會牧會，本次帶來四堂信息：我的身分、我的價值、天國降臨、我的命定。信息更新許多人對天父跟自我形象，並帶領人看見命定與方向，恢復起初創造的計畫跟天父關係。週日主日出席人數達389人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.04.25
      第二屆超認真歌唱大賽總決賽，出席人數達230人，一百多位的參賽者中，脫穎而出的冠軍卜星慧，畢業於樹德科技大學第一屆的表演藝術系，現為吉他老師。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.05.15 首次邀請Greg
      Miller牧師，帶領會眾恢復跟天父及地上父親的關係。牧師為教會發預言，將建立如同大衛400勇士的軍隊。早場出席人數138人。晚場出席人數113人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">&nbsp;2015.05.17
      舉辦陳思恩牧師按牧典禮，邀請牧師團：榮美創辦人Koert&amp;Gea萬牧師夫婦、曹植茗牧師、羅劍保牧師、游福源牧師、顧其芸牧師、鄭博仁牧師、黃富弘牧師、莊東傑牧師。牧者出席達50人。屬靈導師顧其芸牧師為陳思恩牧師禱告：祝福高雄榮美教會成為使徒性教會，在完成大使命中找到職分的意義，讓萬有者將萬有充滿在這教會中。出席人數達432人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.06.02
      康麥克牧師特會，牧師二次來到榮美教會分享心靈得釋放的關鍵就是學習謙卑自己，因為神賜恩給謙卑的人。當我們懂得謙卑才能承認隱藏的罪，饒恕得罪我們的人，就像上帝也饒恕了我們，宣告過去與撒旦的立約要撤銷，我們單屬於耶穌基督！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.06.14
      首次回應城市議題於勞工公園舉辦反霸凌活動，教會運用媒體團隊訪問議員及邀請陳信瑜立委出席活動，各大電子媒體均採訪，高中大學校園學生社團也站出來反對霸凌，近八百人參與。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.06.24
      首次舉辦第一屆事奉學院開課，廣邀海內外名師開班授課。更整合榮美教會最豐富的實務經驗，以系統化方式進行教導，使人完整承接教會的DNA，成為建造教會、為主卓越的國度人才。紮實的裝備及課程，訓練出一群神國度有智慧又有見識的工人。期待人人做精兵，人人服事神，一起建造遠大異象的教會。半年期學員1人。一年期學員16人。二年期學員4人。暑期班32人。寒假班28人。師資簡介：</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">*陳思恩牧師-高雄榮美教會主任牧師。牧會迄今六年，帶領教會從53人增長至三百餘人。</span></p>
  <p class="c1"><span class="c0">*莊東傑博士-神學博士，信義會三民教會牧師。</span></p>
  <p class="c1"><span class="c0">*張思聰牧師-以色列希伯來大學博士研究，台灣教會更新協會總幹事。</span></p>
  <p class="c1"><span class="c0">*曹植茗牧師-台北榮美教會主任牧師。</span></p>
  <p class="c1"><span class="c0">*鄭學禮教授-北京大學客席教授，夏威夷大學哲學、宗教學終身教授。</span></p>
  <p class="c1"><span class="c0">*傅璐璐姐妹-新加坡城市豐收教會同工，國際知名華語翻譯。</span></p>
  <p class="c1"><span class="c0">*沈錦秀牧師-衛理神學院道學碩士，主修教牧輔導；得勝者高雄辦公室主任。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.06.30-07.01
      第一屆事奉學院特邀講師－鄭學禮教授，畢業於台大哲學系、美國威斯康辛大學哲學博士、美國西敏神學院神學士，現任於夏威夷大學哲學、宗教學及中美關係終身教授以及北京大學客席教授，本次受邀至學院教導基督教和中國文化的關聯。帶領學員從地理、歷史、考古哲學與聖經的角度，探討中西文化歷史。教授說「你有什麼樣的信仰，就有什麼樣的生活」，鼓勵基督徒們在神所造的世界中常保喜樂的心，不受限於環境，更要找到社會的需要去多元學習發展，活出神的心意，成為在環境中有創造力與影響力的領袖。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.07.07-10
      於曾文水庫舉辦4天3夜暑假轉化營會，參加人數首次達到264人，透過體驗式遊戲及課堂，帶領學員接觸認識信仰，明白創造、罪與墮落、永生與天國及救恩的真理，決志人數121人，決志人數較去年增長133%。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.07.16-17
      首次邀請霍華倫牧師特會，牧師以真理及聖靈經歷教導會眾要「先相信，才會看見。」第二天主題為教導基督徒領受豐盛生命的要訣，在各領域上都能憑信經歷大突破，如同「親愛的兄弟啊，我願你凡事興盛，身體健壯，正如你的靈魂興盛一樣。」牧師最後為大家禱告領受超自然的豐盛，也抹油恩膏每位渴慕的弟兄姊妹。期待教會更大栽種在神的話中，得恩賜、能力與祝福，為要成就興盛且供應出去的生命。第一天聚會152人。第二天聚會212人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.07.22-26 事奉學院邀請台北市台灣更新協會理事長-張思聰牧師，教導聖經史地綜覽-舊約篇。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.07.26
      邀請台北復興堂主任牧師-柳子駿牧師主日特別聚會，主日信息分享：當生命處於低谷時，是我們突破的開始，因為突破總是留給沒有後路的人，必須在這樣的過程付上代價，如同血漏婦女拖著虛弱的身體和失落感，也要找到耶穌，因為真正的獎賞，是留給付代價的人。主日出席人數共356人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.09.11-13
      第五屆初階遇見神營會，舉行於獅甲會堂，為期三天兩夜。課程包含：高雄榮美教會DNA課程、同意的力量、咒詛與祝福、從遺傳之罪得自由、生命的清理與修補、天父的心、愛能改變一切以及牧者個別啟示性服事。同時滿足與釋放每個渴慕神的心，同時打破人對信仰的迷思及恢復跟神的關係。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.09.20
      分區主日聚會：素雲區於優大利休閒農場，出席人數291人；純真區於小港社教館，出席人數77人；宛萱區於旗津，出席人數120人。新朋友人數達117人，共488人(不含兒童)。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.09.16 首次邀請連加恩弟兄特別聚會。分享對靈魂的負擔，感人信息與見證呼召基督徒起來進到世界去贏得靈魂。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.10.04
      首次邀請連加恩弟兄特別主日。連醫師用約翰福音中的經文講述，成為上帝朋友的關鍵，是要學習做一個愛人且願意付出的人。當我們把自己交給神時，祂要成就我們的夢想和禱告，因為上帝看你是他的朋友，祂要帶給你更多的盼望跟改變。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.10.04 首次邀請連加恩弟兄參與旗津受洗禮拜，受洗人共34名：純真區洗禮
      10人，陳亭諭、江宜芳、陳宣宏、顏全禾、蔡孟臻、邵悅恩、廖宣媛、簡逸飛、盧宛萱、黃主悅。宛萱區洗禮 12人，張綵愉、葉子庭、張家瑜、吳珮伶、林鈺堯、陳柔穎、林冠昇、王升宏、陳捷威、陳宇宸、吳宗慈、周子聰。素雲區洗禮
      13人，劉佳欣、陳韻文、劉圖遠、盧美如、黃昱傑、李憶萍、李杰庭、蘇靖荃、何秀文、葉雅惠、郭育伶、王耀淋、張翕筑。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.11.15
      張大業牧師特別聚會，分享四種天父的愛：盟約的愛、要求式的愛、要求回報的愛、排他忌妒的愛。鼓勵會眾不用人的有限來認識上帝，神的憤怒就是任憑，審判已經開始了，唯有接受耶穌替我喝了憤怒的杯。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2015.11.29 高雄榮美教會18週年慶感恩特別主日，思恩牧師用撒母耳記上22章分享三件事情，能幫助我們委身在這個家裡:1.每個人都是彼此需要的 2.真實相愛的關係
      3.我們是生命共同體。在亞杜蘭洞的大衛，當他們開始活出上帝美好的關係時，上帝就祝福他們開始強盛，不斷的拓展疆界。我們的家也是如此，當我們彼此相愛，互相扶持，在這個家學習重建關係，一定能有所突破，因為神所應許的，就必定會發生。出席人數460人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.1.17 &nbsp;柳子駿牧師特別主日『強留聖靈的同在』1.接待聖靈 2.和聖靈的關係 3.生命的陶塑與熬煉 4.需要聖靈點燃熱情</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.1.24
      吳俊德傳道特別主日，分享他的生命經歷「人生可以沒有背景，但不能沒有願景。」經歷了第5度被學校退學後，被父親趕出家門，原本想找朋友幫忙介紹工作，但是最後發現沒有一個朋友是真心要幫助他，求助無門的俊德流落街頭，最後好不容易遇到一位願意收他當學徒的法國料理師父Jason。開始面對自己過去不愛學習的問題，奮鬥的旅程是不優雅的！需要付上不為人知的代價。最後傳道已身體力行的親身經驗鼓勵會眾：只是聽見神的話沒用，我們需要活出來，引用以色列和非利士人爭戰的時候，他們只看到敵人有多強、多高大，但只有大衛一個人願意走過去面對強敵，他看到要為神得榮耀的機會！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.2.12-14
      第一屆榮美教會增長教會增長與領袖培訓研討會。在大年初五正式開跑，思恩牧師用以弗所書4章1-16節為研討會開啟了一個新的看見，就是「合一」。系列課程包含六年來思恩牧師與團隊建造教會的心血，透過WORKSHOP的課程雙向互動，幫助領袖有實際的解決方針。課程內容包含「小組增長的秘訣」、「屬靈領袖的訓練」、「建立關懷與信仰的生活」、「門徒訓練」、「一對一裝備」、「關懷系統」、「自媒體」。出席人數達206人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.2.20 首次邀請林煜捷老師擔任兩性營講師，教導要刻畫幸福的藍圖：在關係裡從認識到成為朋友，再從朋友變戀人，認定雙方直到進入夫妻階段。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.2.21 首次邀請林煜捷老師於主日分享神創造家庭的心意，透過創世記說明「信耶穌不是ㄧ種宗教信仰，而是ㄧ種愛的關係(Fellowship)。」</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.3.6 第一屆事奉學院畢業典禮主日聚會。來自全教會和事奉學院教師團隊的祝福，陳思恩牧師和陳憶湘師母特別為畢業生祝福勉勵。憶湘師母用路加福音
      3:16來勉勵畢業生，約翰說：「我是用水給你們施洗，但有一位能力比我更大的要來，我就是給他解鞋帶也不配。他要用聖靈與火給你們施洗。即使學會許多的知識和技巧，仍要明白我們不是耶穌、不是別人的救主，應該清楚明白「有一位能力比我更大的。」約翰被人喜愛又充滿能力，當他為人施洗時，所有的人都跑來問他：「我們應當做什麼？」但約翰始終謙卑自己，他知道自己是在為耶穌預備道路，憶湘師母鼓勵畢業生效法施洗約翰的生命，要為主預備道路。在耶穌的服事生涯中，他可能已經坐過無數次的驢駒，可是他在進耶穌撒冷前，也就是他準備要上十字架受難之前，選了這匹從來沒有人騎過的驢駒，作為代步工具。這匹驢駒正是為了這個時刻預備的!每個人都應該要好好預備自己，因為你不知道什麼時候神要用你，事奉學院雖然結束了，畢業生們服事神的道路卻才正要開始！不只是畢業生，每一個高雄榮美教會的會友，都應該成為「為主預備道路」和「要被主用」的人！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.3.12-13
      康希牧師特會，康牧師分享在他經歷低潮時，選擇拒絕一切負面的話，他只接受並宣告神的話，因神的話就是他的靈與生命。耶穌會透過環境挑戰人的信心，同時也是經歷祂大能的關鍵，管會堂的睚魯來求告耶穌拯救將死的女兒，耶穌的心意要他遠離負面思想，不被恐懼影響，當睚魯聽見女兒已死的消息，耶穌聽見卻是對他說：「不要怕，只要信，你的女兒就必得救。」神要人專注在神的應許，只要滿心相信上帝所應許的必能作成！聚會人數達630人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.03.27
      復活節特別主日聚會-第七號當舖交換恩寵，每個基督徒都能經歷復活的生命，關鍵就是要緊緊抓住神。思恩牧師：「專注在神要做的事情！」如果要保持專注，我們看待自己的眼光就很重要。不活在疾病裡，要專注在健康上；不活在經濟缺乏裡，要專注在上帝的祝福上。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.04.01-03
      第六屆初階遇見神營會參與學員共78名，其中52名是受洗班課程結束新學員，並接受啟示預言禱告服事，上帝透過思恩牧師說出神的安慰與指引的禱告。其中，在充滿感動的晚場聚會『天父的心』中，牧師用自己跟父親的關係鼓勵學員，即使我們有從地上父親來的傷害，但聖靈能做新事，因為神是我們在天上有泉源的父親，要給予我們安全感、恢復我們的自我形象、賜予我們勝過世界的保證，在禱告裡有許多人願意放下從地上父親而來的傷害，聖靈大大工作，賜下饒恕的能力，許多人心中得到滿足流下釋放的淚水。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.04.20 高雄榮美教會-GBC News 粉絲專頁首次於NTer503會堂啟用前進行180度廣角投影系統 直播測試！</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.04.26
      遷堂感恩禮拜同心會，教會位址遷移至成功物流園區NTer503室，在同心會中數算恩典向神獻上感謝，位址遷徙一路從光華路大樓10樓、新興高中、寶成企業大樓、國軍英雄館、成功物流園區，遷堂歷史過程中，有許多先知不間斷啟示榮美教會，教會也不斷回應神的呼召，2009年開始會友人數53人至今已達400人。我們相信神給教會的異象要繼續成就，在503室建造城市型教會的基地，以賽亞書60:22
      至小的 族要加增千倍；微弱的國必成為強盛。我－耶和華要按定期速成這事。同時也進行遷堂感恩禮拜直播。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.05.01
      受洗禮拜，受洗新生兒共28人，14男14女，名單如下：黃星芮、涂千舫、呂悅寧、吳思翰、林青蓉、潘星儒、黃冠銘、陳妹枝、曾威翔、洪淑秋、顏鈺慈、王勝弘、黃琰傑、洪毅智、蘇韋全、楊采蓉、涂文綺、莊翊暄、張正慶、何金枝、張淑娟、林宛賢、郭育伶、徐有餘、薛景銓、李昇鴻、鄭丞祐、吳磊。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.05.08
      母親節特別主日。在母親節這天，我們回想在生命中最重要的女人是誰？一位母親，同時更是一位妻子與女兒的身份，在家中有多麼重要。教會在今天不只特製母親專用的信用卡，刷卡的信用行動就是給媽媽一個熱情擁抱、一句讚美與感謝的話，還有一個服務的行動，全職團隊與校園精兵們，一同獻唱溫嵐的《手印》祝福現場的媽媽與女士們，大方表達對家人的愛。陳思恩牧師帶大家看見母親在聖經中的角色，女性在神眼中有特別的價值，因為神造亞當，又從亞當體中取出肋骨造了夏娃，代表女性就是極品中的極品，而從摩西母親與哈拿的生命中看見母親的謙卑、順服與教導是當時很好的榜樣，「神揀選男人完成祂的計劃，但是神揀選女人做最關鍵的角色。」思恩牧師特別感謝教會的媽媽們支持教會成為孤兒寡母的教會，用愛成為這個家裡的榜樣，甚至將學生族群視如己出，用愛接納各種個性的青少年。我們也從聖經裡面可以效法孝順母親的三個原則：看重母親說的話、讓母親有重要感、不要讓母親擔憂。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.05.15
      張大業牧師主日特別聚會，主題：得回所失去的。復活主日的早晨，張大業牧師分享如何得回所失去的，帶領弟兄姐妹再一次在饒恕裡面得勝，經歷加倍的祝福！</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.05.22
      連續三週幸福主日第一場開跑。幸福列車第一班-找到幸福的愛。這天的主日聚會格外散發一種幸福的氛圍，不但有可愛的拉拉熊提供他熱情的擁抱，更邀請榮美教會的三對夫妻上台進行默契大考驗，過程中，他們當然流露出幸福的神情。談到夫妻間要溝通的事情，千奇百怪，對方的喜好、喜歡的食物、愛的語言......等，由外到內，由淺入深。而且彼此的溝通從交往的那一刻開始就不斷持續著，一直到現在跟未來。思恩牧師問：「你是一個喜歡溝通的人嗎？」溝通讓親密關係有更多的連結，讓自己和對方的心連結在一起，特別是和自己有著親密關係的人，更需要好的溝通，好的溝通要注意5件事情：1避免雙方認知不同2避免言語中貶低對方3.不只聽自己像聽的或只回應自己有興趣的4.不說反話5.盡力的解釋。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.05.22
      首次於NTer503舉辦陳韻婷徐有餘婚禮。教會內的第一場婚禮，在陳思恩牧師的主持下，徐有餘弟兄與陳韻婷姊妹在神面前締結下永不改變的婚約，也讓弟兄姊妹看見，在遮蓋下的婚姻是何等蒙福！在經過思恩牧師一年的婚姻輔導下，有餘與韻婷更多委身在教會屬靈家人的關係裡，並且順服權柄的教導，一步步按著真理，調整彼此的價值觀與互動模式；而有餘在這過程中，看見韻婷對神、對教會、對人真實的愛與付出，也倍受感動，決定受洗成為基督徒，要與韻婷建造起合神心意的基督化家庭。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.05.29
      幸福主日。幸福列車第二班-我有話要說(女生篇)，到底怎麼找到幸福？「溝通」正是關鍵之鑰，我們常常只注重結果，卻忽略了溝通是一個過程，需要用心去經營，透過分享瞭解彼此的需要。每個人感受到被愛的語言都不同，所以代表我們需要學習去認識對方，而不是以自我為中心要對方接受自己的表現，若沒有對的表達，可能對方感受到的就不是愛。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.06.05
      幸福主日。幸福列車末班車-我有話要說(男生篇)－恢復溝通的對話。「溝通」是為了達到共識的過程，而非只有解決問題，特別在越親密的關係裡，對話的表情、字句與語調都可能成為關係的殺手。神的愛可以讓人面對過去破裂的關係，做ㄧ個決定的行動，從管理口舌說好的話、邀請耶穌成為情緒的掌權者並且學習像耶穌，重新開始關係裡的對話。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.06.26
      主日特別聚會-講員：旌旗教會區牧-王世欽。主題：神對婚姻的心意。上帝造了男人並女人，對婚姻有美好的心意。經營婚姻我們需要學習兩件事：1.人要離開他的父母2.夫妻雙方要連合。保羅說，丈夫與妻子二人連合，是極大的奧秘，就像是基督和教會。我們必須擁有神的本質，我們才能與神連合。上帝透過婚姻的親密關係使我們個人的生命能被調整，叫我們既脫離世上從情慾來的敗壞，就得與神的性情有分。祝福每一位在預備婚姻或是已經進入婚姻的弟兄姐妹，能夠因著關係中的連合，彰顯上帝的本質與榮美！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.06
      第二屆事奉學院開課。36名學員：王思雅、黃茹筠、吳宗慈、陳柔穎、邱麗婷、蔡知均、林冠昇、周子聰、楊采蓉、謝宜蒨、江宜芳、張翕筑、呂佳紜、葉子庭、黃冠銘、莊淳淇、李芊萱、顏全禾、周家瑀、黃子耀、陳聖茹、陳仲宣、吳俞賢、邱家詮、潘政豪、張以心、林青蓉、陳主安、黃琰傑、黃天賜、黃筠涵、陳錦湘、陳素芬、楊吳嫚娘、張靜容、陳昱璇。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c12"><span class="c4">2016.08.07 首次邀請米勒牧師主日特別聚會，</span><span class="c6">分享主題：</span><span
      class="c11">「</span><span class="c6">上帝呼召誰？</span><span class="c11">」</span><span
      class="c6">1.會眾的思想vs門徒的思想。2.門徒是甚麼？</span></p>
  <p class="c1"><span class="c0">2016.08.19-21
      第二屆教會增長與領袖培訓研討會。從以賽亞書60：22節而出的主軸「加增千倍，相信、看見、發生」，復興要從你我開始！除了課程上的教導與經驗分享外，每段課程更特別安排討論時間，讓學員們運用剛學習的原則，實際在現場和小家成員彼此討論、激盪出實際可執行的方案；Workshop提供大量的Q&amp;A時間，讓每個學員一掃心中疑慮，實做起來更有勁！有如領袖高峰會的「榮美世界咖啡館」，教會的組家長們，在彼此討論交流中，挖掘出對經營小組的全新視野。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.10.15第一屆藝象學院開課，課程包含：激勵課程、人際交流、演說技巧、機器人、語言、歌唱、表演藝術、舞蹈、爵士鼓、吉他及動態攝影剪接。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.11.20
      十九周年慶主日，高雄榮美教會的十九歲生日，是一場數算恩典的聚會，新的場地、新的平台、新的見證都在這一年不斷地發生！但是這些祝福卻不是要留在教會裡面享受，思恩牧師認為把教會的影響力從東西南北擴張出去，這是教會的價值。城市型教會需要用對的方式回答這個世代，因為有信仰的人，是為了信念而堅持對的事情，不是為了別人的言論。基督徒應該反省的是，沒有在生活中活出見證，需要做的更好、更多、更認真，贏得人的心。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.12.03-04
      第七屆遇見神營會。將近一百位首次參與的學員，在敬拜中、在課程中、在禱告中，渴望與神相遇。牧師以聖經真理、自己的經歷，講述當我們同意某些事物，甚至認同一句話時，就是向它開啟心靈的門。並透過楊采蓉姐妹的見證分享讓學員們明白，當我們同意錯誤的對象時，會帶來比較、自卑的心態，但是當我們同意神的時候，將會充滿信心而靠著神做成許多新的事！讓我們一起善用同意的力量！撤銷錯誤的信念，同意從神來的信念。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2016.12.25
      聖誕節受洗主日。耶穌來到世界上，代表的是神要與我們同在！祂是以馬內利的神，神愛我們，而耶穌正是神愛世人的記號。信耶穌不是一個宗教行為，應該是要充滿生命力，忙碌不能替代我們跟神的關係，不能成為我們不親近神的理由，單純的忙碌最終會讓人失去熱忱。神想讓我們知道祂，所以耶穌教導有關天國的一切事情讓人認識天父，我們所做的一切服事也是要讓人認識我們的神。受洗新生兒共42名，19男23女，名單如下：黃品誠、呂文獻、莊淳淇、呂佳紜、陳婕菱、何蓁芸、黃智瑋、蔡瑞松、龔昭藝、何宗育、劉沅荻、謝嘉榕、陳曉娟、林鈺恩、郭昭賢、謝宜蒨、湯綉玲、張紫筑、朱軒、楊雅麗、劉育昌、詹亞仁、蘇于綜、蔡明潔、石雨禾、林昱潔、孫薇霓、宋承鴻、</span>
  </p>
  <p class="c1"><span class="c0">林荷慧、沈淑琳、鄧亦竣、莊士正、楊宜靜、林志成、陳冠宇、丁意純、張瑜、游勝閎、張雅涵、游家麒、楊采蓉、黃廉凱。受洗地點：旗津海水浴場。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.01.14兩性互動與交往課程-L1，由陳思恩牧師開課，牧師分享到：1.美好婚姻的特質2.一般人的選擇模式 3.什麼是相同的價值觀 4.找出價值觀 5.拒絕錯誤的對象
      6.我們如何預備自己</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.01.25 陳思恩牧師受邀以粉絲專頁GBC News與Jesus
      Fashion合作直播春節靈修。主題：如何做一個完成呼召的器皿。靈修經文：以賽亞書49：5-6節。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.01.29 新春主日聚會，主題：憑著應許走進新(信)的一年。一.&#8203; 我們是蒙福的兒女二.&#8203; 應許與需要不同。三.&#8203;
      我們該如何抓住神的應許：1.&#8203;做一個信靠神的兒女。2.&#8203;學習接受神的祝福。3.&#8203;要知道神的心意是甚麼？打破我們與上帝之前的牆（懷疑、不堅定），持續的相信，學習順服和謙卑的生命，將會看見上帝為你開門，只有成熟、成長，能使我們更像祂，鼓勵每一個弟兄姊妹不要安於現狀，勇敢接受更大的挑戰，在我們的崗位上為神作鹽發光，上帝的揀選無關乎年紀，宣告2017年，榮美教會的每個人，要走在上帝給我們的藍圖裡，完全的相信、信靠祂，用一生來學習，直到我們跟上帝站在一起。地點：NTer503。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.02.05
      信心之路主日聚會，邀請陳信平講員分享聖經中路得的故事。上帝給的挑戰和呼召，是要我們不被侷限、嘗試更多事情，同時也增加在過程中對神更有信心，當我們成為對的人時，要相信你我都能夠跟路得一樣，改變周圍的人事物，讓上帝帶下祝福！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.02.06-08 第一屆門徒營，舉辦於曾文活動中心。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span
      class="c0">2017.03.04-05第三屆教會增長研討會-人人都是新媒體佈道家，參與人數303人，外教會參與31人：台北北區榮美教會、台北南區榮美教會、新竹蒙恩堂。教會成長關鍵就在『新媒體』，因為這是這個世代的對話管道。研討會特色是不用上課的方式，而是運用世界咖啡館研討方式，透過新媒體進入世代贏得靈魂。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.03.05
      第二屆事奉學院畢業典禮主日，計有35位學員畢業，思恩牧師鼓勵畢業生成為傳承者。「今天起你們不再稱為學生，要被稱為牧人。」不只是自己有所得、有所學，更要起來做牧人，盡所能的把人完完全全帶到上帝面前。上帝把靈魂託付給你，就好像在生育一個嬰孩，不只是領他信福音，還要教育他長大、成熟。畢業學員如下：王思雅、黃茹筠、吳宗慈、陳柔穎、邱麗婷、蔡知均、林冠昇、周子聰、楊采蓉、謝宜蒨、江宜芳、張翕筑、呂佳紜、葉子庭、莊淳淇、李芊萱、周家瑀、陳聖茹、陳仲宣、吳俞賢、邱家詮、潘政豪、張以心、林青蓉、陳主安、黃琰傑、黃筠涵、張靜容、陳錦湘、陳素芬、楊吳嫚娘、張以琳、蔡依伶、蔡孟君、陳冠宇。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.03.11兩性互動與交往課程-L2，由陳思恩牧師開課，主題：價值觀的領域，如何找到對話的空間。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.04.02
      首次邀請屏東基督教醫院余廣亮院長，主日特別聚會。主題：人生何處去？院長用他們過去在吉爾吉斯、馬拉威等發展中國家醫療宣教的點滴及故事，要提醒鼓勵每一個人，認真思考人生的目的，如何活出上帝造我們的價值。透過我們的服事，在那些有需要的人身上，顯出上帝的作為。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.04.16
      沈錦秀牧師主日聚會，聚會主題：孕育生命的果芽。在復活節主日裡，沈錦秀牧師以無花果樹的故事說明耶穌如何來教導門徒能夠在生命中結出屬靈的果子。關鍵在於遵行神旨意，並能在生命中使人真實看見基督徒生命力。馬可福音11章22節「耶穌回答說：你們當信服神。」由經文看見上帝的話是輕慢不得的，生命中應該是要信服神，看中神所看重的事物並結出果子來。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span>2017.04.13-18 首次宣教，宣教地點：印尼。宣教團隊：陳思恩牧師、陳憶湘師母、盧保婷小家長、張佩雯小組長。一到</span><span
      class="c3">當地教會，感受到的是他們單純火熱愛主的心，即便在地環境有許多挑戰，但信實的神卻能跨越限制，聚會有高達百分之九十五的決志率，熟悉的景象讓思恩牧師回想一路建造教會的過程，不只向神獻上感恩，還有最初回應神的心志，只有一個念頭就是緊抓住神，才能不斷勝過軟弱的信心，還能堅持到底。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.04.22 王倩倩傳道週六特會，主題：心的戰爭。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.05.08 陳思恩牧師首次受邀至耕耘會分享，主題：青少年的需要與教會建造。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.05.13-14
      張大業牧師主日特別聚會，牧師分享改變信念的重要，人們能很快察覺身體健康出毛病，卻不容易發現心靈的問題。認為「這都是別人的問題」，而忽略了自己心靈的不健康可能才是問題的癥結點。新的信念能帶來改變，但是新的信念往往被人舊有的濾鏡阻隔。這就是為什麼以色列人做了四百年的奴隸，出埃及後卻活在原本的模式裡，即便信主得救的我們，仍需要神的介入。因此我們需要：1.更崇高的誘因、2.打破負面模式、3.新信念取代舊的、4.強化新的連結。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.05.20-21 首次邀請白開水劇團宮能安演出一人戲劇-小王子劇場，演出地點：NTer503。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span>2017.05.21 首次邀請九曲堂教會郭志彬牧師特別聚會。聚會主題：</span><span class="c3">陪伴的力量。</span><span
      class="c0">牧師以創世紀2:18a「耶和華神說：那人獨居不好」告訴我們在上帝的國度裡陪伴是重要的，教會不能空有強盛的裝備、佈道文化，卻缺乏陪伴的文化，包含現今社會不注重家人彼此的陪伴，家庭結構和觀念正在快速的式微，但真正的陪伴是需要刻意經營的。陪伴是教會的基礎。一個有感的陪伴，一生只要一次就足以讓對方刻骨銘心了。期待教會能有更多人願意委身在這裡，成為傳福音的人，那我們就應該先建立起陪伴的文化，因為有偉大的基礎建設（陪伴），才會有偉大的教會，而陪伴的力量，就是在預備我們成為一個大教會時依然能屹立不搖的關鍵了。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.05.28 首次於NTer503分堂聚會，第一堂時間8:30-10:15，第二堂時間10:50-12:30。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.06.10
      首次舉辦領袖高峰會，每月隔周周六舉行，參與對象：小組長以上以及小組長預備興起同工。思恩牧師勉勵所有小組長與預備同工看重人數，更要看重人數背後的意義。原來小組人數的背後，代表的是小組的體質與小組長的生命與身量，而最終我們都必須要在主面前交帳，是得靈魂的帳、是生命有沒有越來越像神的帳。而成長的關鍵是明白神的心、對神有安全感，不專注在問題上。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.06.10-11
      第八屆遇見神營會，為期兩天。透過營會的課程，一步步帶領人認識自己都有不同的背景、原生家庭或者自我形象的問題，藉著饒恕、撤銷與釋放，再一次同意自己的身份是神寶貴的兒女。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span>2017.07.02 特別聚會：榮美教會創辦人荷蘭宣教士夫婦</span><span class="c3">Koert &amp;
      Gea帶來精彩的親身分享，每個人領受了五個寶貴的禮物：「合一、順服、彼此相愛、不留遺憾、平衡的服事生活」，讓我們更明白建造教會、服事神的秘訣。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.07.06-08
      第二屆門徒營，地點：加利利營區。首次推動社青參與。參與人數：個人異象和教會異象不應該是單選題，因為實現教會異象過程中，個人的異象一定能被實現，既然神呼召我們建立教會，個人的夢想與教會異象的衝突，就一定能夠找到出路。門徒是一個把信仰帶進生活的人，不管年紀、職業或者是身分，每個門徒需要面對許多挑戰，我們都能親近主，愛神並高舉祂，因著跟神的關係而經歷突破，這是最重要的根基。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.09.15-17 首次舉辦全高雄教會Run for Lord 不一樣的心志
      青年領袖特會。今年特會講員特別邀請在南台灣建造青少年有成的牧者，高雄九曲堂循理會、武昌新世代教會在5場聚會、6場工作坊中，以對神國的宏觀及跟世界對話的能力，帶來挑望人心的關鍵信息。信仰有濃度與純度，信仰有傳承與接棒。給一份不被稀釋的信仰，從一種好奇神國的態度而來，因為青年特會的結束，是重新定調信仰的開始。9/15(五)第一堂聚會：屏東和平長老教會-葛兆昕牧師。9/16(六)第二堂聚會：武昌新世代教會-鄭賢智牧師。第三堂聚會：高雄九曲堂循理會-郭志彬牧師。9/17(日)第四堂聚會：陳思恩牧師。第五堂聚會：青年禱告會。記者採訪：國度復興報、基督教今日報。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.10.14
      首次舉辦【新鮮人職場博覽會】內容包含：[3堂深度講座]談創業、談提升自己超越30k價值的核心能力、談如何面對職場壓力。講師：文藻外語大學黃國良教授、；[8種實用工作坊]性向測驗、履歷技能補給站、模擬面試、國外實習、財務管理、工作須知、職場溝通技巧、哈茶區；[2種專業測驗]創業測驗、及被哈佛大學，全球五百大企業指定使用的MBTI個性與職業測驗；[全台唯1創新]獨創心靈導師Mentor一對一指導的哈茶時間，幫助你突破盲點找到前進方向。報名人數：210人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span
      class="c0">2017.10.22典躍舞團簡孟軒特別聚會。聚會人數：509人。信息分享：典躍舞團從起初３人擴展至今百人，成千上萬的演出成就當時的夢想。團隊不只用舞蹈做見證，也出短宣隊做公益巡迴，讓街舞結合現代舞能與社會對話，甚至影響青少年族群起來為主發光發熱。然而，夢想要找對地方成長，從彼此相愛的地方開始，就是教會。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1">
    <span>2017.11.12台北復興堂柳子駿牧師主日聚會。聚會人數：459人。信息分享：如何預備自己重新站立在神的國度、命定當中，讓神在我們生命中行神蹟：1.控制情緒，是神工作的開始2.不照你意，是神工作的法則3.付上代價，讓神完成祂的計畫</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.11.18 首次開辦教會建造培訓課程，每月一次，參與對象：VIP以上。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.11.19
      榮司提反牧師特別聚會。聚會人數：基督徒傳福音的方式百百種，你怎麼跟別人分享福音呢？得勝者協會的創辦人-榮司提反牧師夫婦，今天來到榮美教會，分享了牧師的見證。牧師因為忙碌於服事
      ，而忽略了跟神的關係，但神允許一些事情發生在人身上，為的是要把人帶回到祂面前。服事的成功、他人的讚美，讓牧師開始感到驕傲，生病的過程中，他看見許多的異象：天使、邪靈、天堂、地獄…還有他遇見了耶穌！耶穌的愛深深地吸引他，耶穌也引導他走向光明。牧師肯定地說，他相信榮美教會會翻倍地增長，只要我們每一個都出去為人禱告、跟人分享自己的經歷跟見證，帶人去遇見耶穌！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.11.26
      高雄榮美教會20周年慶感恩主日。聚會人數：662人。邀請並尊榮過去來到高雄開拓的榮美牧者長老一起來見證高雄榮美20周年的成長並將榮耀歸給神。與會貴賓：台北北區榮美教會-曹植茗牧師、莊育萍師母、陳光健長老、吳英彥長老、黃金蘭長老夫人；台北南區榮美教會-游福源牧師、黃薇如師母、3名同工；台中榮美教會：羅劍保牧師與張志仲牧師；李雲老師及李貴榮師母；台灣走出埃及輔導協會-厲真妮傳道；文藻外語大學-黃國良教授；壽山國中校長-吳峻毅；611靈糧堂-于江蓓師母，以上共18名貴賓。過程還有陳錦湘小組長生命見證、事奉學員獻唱自創曲：「想飛。」、黃文彬小組長感恩祝禱，並且發表未來20年高雄榮美2.0的內涵，邀請所有參與在建造過程中的弟兄姐妹一起參與在神所賜的異象中。</span>
  </p>
  <p class="c1"><span class="c0">(一)教會經營理念</span></p>
  <p class="c1"><span class="c0">1.核心價值：(1)堅持真理 (2)奉獻的心志 (3)追求合一 (4)終身學習</span></p>
  <p class="c1"><span class="c0">2.核心信念：(1)為了下一代而擺上 (2)樹立正確的價值觀 (3)保留傳統，超越傳統</span></p>
  <p class="c1"><span class="c0">(二)未來20年展望： </span></p>
  <p class="c1"><span class="c0">1.成為千人教會，在高雄打造屬神國度的軍隊與人才培育基地。</span></p>
  <p class="c1"><span class="c0">2.我們建造教會的故事與事蹟，不只傳遍亞洲新灣區，更要影響全亞洲，成為一個宣教的教會。</span></p>
  <p class="c1"><span class="c0">3.推動會友終身學習，建立富足且剛強的信仰生命力，在職場上成為頂尖卓越的基督徒領袖。</span></p>
  <p class="c1"><span class="c0">4.每位來到教會的新朋友，都能在這裡找到歸屬感與自己定位，挖掘出自己的潛能並在神國度中被神使用。</span></p>
  <p class="c1"><span class="c0">5.發展教會與社區間的網絡平台，建設亞洲新灣區推動終身學習，實踐城市型教會的願景。</span></p>
  <p class="c1"><span
      class="c0">(三)願景：「高雄榮美教會為了建造給下一代的優良環境，我們要成為亞洲新灣區的指標性教會，連結社區轉化城市，使來到這裡的每一個人都能擁有感動自己、感動他人的信仰生命故事，找到並實踐神創造的生命計畫。」</span>
  </p>
  <p class="c1"><span class="c0">(四)階段性目標</span></p>
  <p class="c1"><span class="c0">1.在教會中推動並落實成人教育，建造終身學習的環境：</span></p>
  <p class="c1"><span class="c0">使弟兄姐妹成為有自主學習機制的人。在神的國度、在職場都成為有影響力的器皿。</span></p>
  <p class="c1"><span class="c0">2.發展社區工作，經營亞洲新灣區：</span></p>
  <p class="c1"><span class="c0">讓教會真實的成為能夠改變城市、對城市有影響力的城市型教會。</span></p>
  <p class="c1"><span class="c0">3.連結海外教會、建立宣教網絡：</span></p>
  <p class="c1"><span class="c0">教會希望每一年都有團隊開始出去宣教，將榮美教會宣教的DNA繼續傳承下去。</span></p>
  <p class="c1"><span class="c0">4.打造創新獨特的多媒體複合中心</span></p>
  <p class="c1"><span class="c0">使教會有能力進入新媒體的時代，成為一個在新媒體時代裡有影響力的教會。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2017.12.23 主任牧師返回當兵時聚會教會-金門山外教會，參與金門山外教會建堂50周年慶，開啟金門宣教異象，並獲基督教論壇報網路新聞報導。</span></p>
  <p class="c1"><span class="c0">2005年聖誕夜金門下部隊 陳思恩12年後回山外見證神恩</span></p>
  <p class="c1"><span class="c0">文章來源：基督教論壇報 https://www.ct.org.tw/?s=%E9%99%B3%E6%80%9D%E6%81%A9#ixzz5CFsBhnWt</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.01.14
      首次分堂主日，今年第一週的分堂聚會，牧師帶領教會丟棄過往的失敗或阻礙，再次宣告每個人在2018年渴望的突破，做神眼中忠心又有見識的僕人，生命跟著教會日新又新。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.01.24-27 JES+轉化營會</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.03.04
      黃國良教授的創業輔導講座。現任文藻外語大學國際企業管理系教授的黃國良教授，曾輔導輔導多間公司企業的創業及經營，在學術界、業界、政府有相當豐富的經歷。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.03.09-11
      第九屆遇見神營會，首次邀請龔光虹老師。回顧整個營會，思恩牧師從『靈命的建造』開始和我們談論信仰的根基，再由龔光虹老師帶來的專業解析，使我們對人對神都有更深一層的了解。龔光虹老師在週六下午，分享了什麼是成熟的愛以及如何去操練。晚上則分享到耶穌的系統，『你信的耶穌，是耶穌基督啟示的耶穌？還是你自己的耶穌呢？』我們的生命要成長，進到神啟示給你的系統裡，要用信心才能看見這個系統，否則，神的想法跟系統，對我們而言彷彿是另一個星球！尤其，當你遇到苦難和挫折，你會用哪一種系統去面對？「希伯來書5:14惟獨長大成人的，才能吃乾糧，他們的心竅習練得通達，就能分辨好歹了。」思恩牧師最後鼓勵每一個人，我們要持續操練自己，進入神的系統裡面。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.03.18
      首次舉辦第三屆事奉學院說明會。由ㄧ、二屆畢業的校友們所籌辦，並擔任全場服事同工，也特別安排學長姐們分享生命的改變和突破，不論是在家人關係、經濟、時間安排上都蒙祝福，見證因回應呼召的決定，要成為教會傳承者，訓練下一代領袖。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.0422 分區戶外主日</span></p>
  <p class="c1"><span class="c0">【思恩牧區】</span></p>
  <p class="c1"><span class="c0">學生牧區從約瑟的故事，看見一位有神同在的卓越領袖是什麼樣的人？</span></p>
  <p class="c1"><span
      class="c0">約瑟早年的遭遇相當淒慘；被賣至埃及、遭遇冤枉陷害，在獄中被遺忘。但在他的一生中，因著相信神的心意會成就，專注在神呼召他的使命裡，忠心完成被託付的事，以至於他最後能被法老王重用，讓他經歷到有神同在的順利。</span>
  </p>
  <p class="c1"><span class="c0">傳福音是基督徒的使命，我們也能像約瑟一樣，在困難中仍然相信神，不因環境而抱怨，常常尋求神，抓住曾經見證神的感動，做被上帝使用的卓越領袖。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">【宛萱牧區】宛萱牧區來到橋頭糖廠，在大樹下草坪上鋪著野餐墊，許多學青及家庭攜家帶眷彼此熱情歡迎。</span></p>
  <p class="c1"><span class="c0">縱使生活中不如意之事十常八九；但上帝的話要鼓勵我們：「你的光已經來到！ 耶和華的榮耀發現
      照耀你。」神要做我們的光，使我們不再黯淡，成為見證和環境中的榜樣！即便有很多可以論斷、抱怨的事情，但因著認識了世界的光，我們可以有不一樣的選擇！抓住上帝的應許：「你們的光也當這樣照在人前，叫他們看見你們的好行為，便將榮耀歸給你們在天上的父。」</span>
  </p>
  <p class="c1"><span class="c0">有耶穌在我們裡面，我們的生命就能越來越有力量，興起，發光！這不是靠我們，仍是靠著耶穌！</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">【豪翔牧區】</span></p>
  <p class="c1"><span
      class="c0">感謝神為豪翔牧區預備了一個在室內，讓長輩們不需要在太陽底下還能夠有位子可以坐的地方。許多的同工來到這裡，想起了過去在光華路十樓聚會的回憶，就紛紛為一路走來上帝為教會做的一切，向神獻上感恩。</span>
  </p>
  <p class="c1"><span
      class="c0">冠翔區長和大家分享傳福音的奧秘，要鼓勵每一個人，再傳福音中有對的焦點，帶著盼望，帶著神的心意，要回到我們各自的禾場繼續來傳福音。而最大的關鍵就是我們自己願意依靠神有多少，自己先在信仰中被堅固，我們就會有動力傳福音，一定可以經歷神的作為。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span
      class="c0">今天榮美教會分區主日，足跡遍佈南北高雄，信息也透過不同的經文要帶人看見傳福音跟我們的生命習習相關，學習在我們的環境中依靠神，享受在傳福音中，我們一定可以成為結果子的器皿。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.04.29
      榮美創辦人萬牧師師母特別主日-宣教，主日聚會的會場外有一面世界地圖，上面寫的不是旅行的計劃，而是期待宣教的藍圖。宣教是榮美教會的異象，也是誕生的開始。由荷蘭宣教士萬牧師夫婦設立的榮美教會，在台灣有4間、中國大陸3間。「你必將生命的道路指示我。」萬牧師堅信上帝會帶領他的道路。過去他曾想到非洲宣教，但上帝告訴他要去台灣和中國。他不解地問：「我要放棄非洲嗎？」在與神對話的過程才明白，宣教不是選擇自己理性思考的答案，而是要聽神的聲音。非洲是他想去宣教的地方，但神
      有祂的心意。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.05.13 張大業牧師特別聚會</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.05.19 首次於金門大學舉辦音樂佈道會-表演團Stranger，宣教同工22名。Stranger演唱會登上</span></p>
  <p class="c1"><span class="c0">金門日報 的新聞版面。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.05.20金門第一場主日聚會，新朋友13人，總人數35人。佈道會之後，有許多感動人的見證與分享，隔天就舉行了第一場在金門的主日聚會。</span></p>
  <p class="c1"><span class="c0">發現上帝做事的速度超過我們想像，一連串的見證，使團隊再次被激勵，很期待這樣宣教的感動能夠帶回高雄，使全教會一起進入宣教的使命中。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.05.27 首次分區聚會，上午場-冠翔區宛萱區，下午場-思恩區。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.05.26、06.02、06.09連續3周歡樂之宴。主辦牧區：中午場-宛萱區FUN心食堂，冠翔區。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.05.28-30連續三天晚上，Greg Miller牧師特別聚會，第一天「以馬內利 神與我們同在」、第二天「與耶穌上山的三個門徒」、第三天「指引命定」</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.05.31-06.04 第二次印尼宣教</span></p>
  <p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
  <p class="c1"><span class="c0">2018.06.10 首次邀請金門大學范仲文教授於主日聚會分享對金門靈魂的熱情與負擔。「我不在乎怎麼做，只在乎跟隨神！」
      金門大學范仲文教授分享他的「信仰之旅」。執教20年來，經歷許多高山低谷，現在的他有著令人羨慕的工作、薪水、房子，卻毅然決然在50歲時決定退休。</span></p>
  <p class="c1"><span
      class="c0">金門榮美教會會址落腳，在過去幾個月中，教會已有三個梯次的宣教團隊，參與在金門宣教的行列中，就在上週舉行了第一場主日聚會，在金門大學也開始有了團契、小組的時間。不只這樣，今天又傳來了新的進展，就在下午教會正式租下未來金門榮美教會
      的會堂，這使宣教工作往前邁進了一大步，我們看見神的帶領是如此的快速，相信不久的將來，神會將更多的使用榮美教會，建立起剛強的金門榮美教會，贏得金門。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.07.02-09.16 第三屆事奉學院開課</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.07.09-12 四天三夜Evolution camp轉化營會，曾文青年活動中心</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.07.12-15 Greg Miller牧師特別聚會與課程。主日聚會主題「Powerful or
      Powerless」我們都期待被上帝的能力充滿，卻不常學習敬虔；每一天與神相處，像耶穌一樣。每一個人都有三種不同的型態：在公眾時的樣子、在家庭中，以及私底下一個人的時候，學習讓這三個部分都一致、都同心。看重與神的關係大過所擁有的恩賜，讓生命中更多知足、謙卑、堅定跟隨，我們也能成為有上帝大能同在的人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.07.22 歡慶65名屬靈新生兒，於西子灣海水浴場受洗禮拜。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.07.27-07.30 教會青年參訪新加坡教會之旅，參訪城市豐收教會與神之心教會，總計33人。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.08.12
      首場高雄市公民對話座談會「市長您給問嗎？青年與市長參選人座談會」。下午3:00，於台糖物流園區7F舉辦的「8/12市長您給問嗎？」邀請到高雄市長參選人韓國瑜主委（國民黨高雄市黨部主任委員）、吳益政議員至現場和超過600名公民進行對話，除了榮美教會的會友，現場更湧進大批高雄市民、媒體以及市民代表參與其中。共15間文字與影音媒體報導。</span>
  </p>
  <p class="c1"><span
      class="c0">榮美教會也在當天進行現場直播，該則貼文截至本日中午已經累積5.7萬次的觀看數、超過3000則留言、700次以上的分享數，貼文的觸及人數更超過21萬人，這場公民運動可以說是在各界的關注下圓滿落幕。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.08.26
      顧其芸牧師主日特別聚會。「教會」在希伯來的原文是「Ekklesia」，是當時政府設立，以兩三個人為單位，為了協助中央執政而組成的，其存在的意義是為了轉化城市。耶穌也用這個字形容教會，而我們就是要發揮Ekklesia的精神，兩三個人聚在一起，就要代表教會，就要去轉化我們的城市。耶穌說，我要把教會(ekklesia)建造在磐石上，就是耶穌祂自己。耶穌將萬有、一切的豐富，和天國的鑰匙都給了教會。更重要的是耶穌基督已經死裡復活，已經得勝了。將我們自己栽種在教會裡，生命不管經歷多少高山低谷，讓耶穌基督死裡復活的大能要發生在我們的生命裡。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.09.09
      金門榮美教會獻堂禮拜，邀請高雄金門當地牧者同工參與，總人數達122人。由循理會九曲堂教會郭志彬牧師證道。出席人員包含：金門牧者21人：沙美基督長老教會陳成勉長老、許素蓮牧師、劉德勛長老、連意玉執事、黃瑞玲婦工部會長、金門靈糧福音中心陸沛理傳道、金門山外基督教會李恩耀牧師、林瑤璋師母、蔡惠娜長老、金門方舟協會曾瑞香傳道、傳道丈夫趙竹鳴、金城教會李坤南牧師、詹秋足師母、何信德長老、陳世聰執事、陳以勒執事、天信執事、許凱發執事、曾羨英執事、宣教士葛老師、葛師母。台灣牧者13人：武昌新世代教會鄭賢智牧師、和散那教會黃以倫傳道、高雄城市之光教會殷維祥牧師、台北北區榮美教會曹植茗牧師、莊育萍師母、吳英彥長老、黃金蘭長老夫人、台北南區榮美教會游福源牧師、黃薇如師母、台中榮美教會張志仲牧師。高雄榮美同工：50人。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span>2018.09.23 主日特別講員-郭志彬牧師，信息主題：</span><span class="c9">「</span><span
      class="c0">宗教或信仰」。到底何謂真正的信仰？我們需要問問自己，什麼是我生命中的第一順位！養成信仰的生命一點也不難，讓神的話以及屬靈的經歷成為我們的供應，最重要的是，將我們所知實踐出來。信仰要帶出來的不只是參與宗教活動的滿足感，而是我們的生命是可以被改變的，好像是保羅遇見神以後成為耶穌的門徒，而他寫出來的書信成為後代基督徒認識神的管道，他的影響力撼動了整個世界。將信仰擺在你心中的第一位，讓生命，隨著參與教會建造而成長。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.10.5-6青年領袖特會，2018年，南臺灣瘋耶穌兩天的青年領袖特會點燃你為耶穌奔跑的心志。</span></p>
  <p class="c1"><span class="c0">第一個晚上由 #屏東和平長老教會
      的葛兆昕牧師傳講信息因著血漏婦人信心的行動，竟使所有人對耶穌的信心都被啟動！#把你對耶穌的經歷告訴眾人，不要小看你為耶穌奔跑的一小步，即便環境不友善、即使眾人沒看見但你的心卻吸引耶穌。</span></p>
  <p class="c1"><span class="c0">第二天早晨，#武昌新世代教會 的鄭賢智牧師 挑戰青少年尊主為大
      #把神放在生命中的首位，過去神的百姓把信心建立在「牛犢」、「約櫃」、「聖殿建築物」、「祖宗的傳統」上，把這些與永生上帝神劃上等號。但上帝教導，當人為自己雕偶像，不過是出於恐懼，甚至是在利用上帝，並無真正的敬畏。今天讓我們再次做一個決定，視耶穌基督為至寶，用以神為是的方式來敬拜祂！</span>
  </p>
  <p class="c1"><span class="c0">#高雄榮美教會 的陳思恩牧師 也在下午分享：「校園復興五大的關鍵」</span></p>
  <p class="c1"><span class="c0">1.要有「#為神夢想」的人</span></p>
  <p class="c1"><span class="c0">2.要有「#渴慕抓住異象」的人</span></p>
  <p class="c1"><span class="c0">3.要成為「#立定心志做收割」的人</span></p>
  <p class="c1"><span class="c0">4.要有「#願意多結果子」的人</span></p>
  <p class="c1"><span class="c0">5.要有「#願意被分別」的人</span></p>
  <p class="c1"><span class="c0">在青年領袖特會最後一場聚會中，九曲堂教會的郭志彬牧師帶領團隊和大家分享開拓教會、傳福音的故事，從他們的故事見證了「真信仰就是瘋耶穌」！</span></p>
  <p class="c1"><span class="c0">#教會是建立在一個真實有信仰的人身上</span></p>
  <p class="c1"><span class="c0">你認為你自己軟弱無法建造教會嗎？</span></p>
  <p class="c1"><span class="c0">三次不認主的彼得，耶穌卻說祂要藉著彼得建立強盛的教會。</span></p>
  <p class="c1"><span class="c0">關鍵是什麼？</span></p>
  <p class="c1"><span class="c0">因為彼得認出耶穌是基督，是永生神的兒子；耶穌基督的教會是建立在領受啟示的彼得身上。並且在這啟示上附上代價，以背十字架為榮耀。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span
      class="c0">復興需要器皿，我們的生命需要追求突破，因為生命的成熟，決定上帝能使用你多少！復興不是靠想像出來，而是我們需要願意付上實際的代價，建造主的教會而且堅持到底，永不放棄。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.11.04
      首次邀請基甸會講員主日-預備行各樣的善事。當我們傳福音的時候，難免遇到人的質問：「你這樣做有什麼意義？幹嘛這麼辛苦賣力？」也許我們會灰心失落，但是耶穌卻說：「凡我所吩咐你們的，都教訓他們遵守，我就常與你們同在，直到世界的末了。」
      看見了嗎？當你勇敢、堅定與人分享福音，耶穌說祂必與你同在！</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">在神，沒有難成的事；因著神，我們可以突破。不要小看你的一句祝福、一個貼心的行動，因為那都是叫你的生活見證福音大能的關鍵！</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.11.18 高雄榮美教會21週年慶主日。榮美教會走過21年，從50人成長到500人，在神帶領下，一步步地實踐我們的願景。
      「願你的國降臨，願你的旨意行在地上，如同行在天上。」 「願」代表我們懷著夢想，並且因著明白我們的靈魂已被耶穌拯救，以至於靠著耶穌我們可以勝過這世界。今天我們可以勇敢地說：「我有一個夢，我要為神做夢！</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span
      class="c0">2018.11.25感恩主日。首次邀請講員：鄭博仁牧師。信息：全備的福音。耶穌帶來的好消息，不只是使人得祝福，更讓人看見上帝對我們全備的愛。耶穌付上代價，使我們得著救贖、成為神的兒女。並且因為耶穌的救恩我們能夠領受聖靈，如同有一位最好的導師、教練在我們的身旁，帶領我們的生活，也教導我們作天父貼心的兒女。
      「因耶穌所受的鞭傷我得醫治。」、「因耶穌，我的貧窮成為富足。」疾病得著醫治、生活得富足，這些祝福也隨著我們打開心門接受耶穌而來。除此之外耶穌說祂還要再來，以至於我們能夠有永恆的盼望！學習在每一天接待耶穌，並且遵行神的話語，你將不再停在過去小小的經歷中，而是能夠經歷耶穌為你所預備全備且豐富的福！</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.12.7-9 Greg
      Miller米勒牧師特別聚會主題「從NO到NOW」：在日常生活中，一定曾聽過別人對我們說「不」。因為天性使然，我們對「不」、對「被拒絕」感到厭惡或排斥，但這些從父母、老師或領袖而來的「不」，有時候是為了保護我們，同時也是預備我們，當上帝對我們說：「不！」時，我們能在上帝說不(No)的當下(Now)，明白祂的心意並學習用信心來回應神。你也期待像耶穌一樣全然的信靠天父嗎？上帝的愛如此細膩，當祂向我們Say
      No的同時，其實有一個更好的Yes在等著我們呢！。M3課程-知識的言語、智慧的言語、辨別諸靈。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.12.17 興起建造同心會</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2018.12.23
      歡慶聖誕主日，教會出席達719人。福音的本意就是好消息，是神藉著祂的愛子耶穌來告訴世人，我們能有新的生命，心靈找到歸宿，擁有真正的安全感，明白神看自己的眼光、計畫跟心意，不用在無法改變跟成長的光景，只要每天選擇信靠就能活出新的生命。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.01.15-23 大陸溫州參訪團，共3位貴賓，為期1週先知課程觀摩。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.01.29-31
      第二屆門徒營，總參加人數263。以小組願景為包裝主題，並首次將組家長課程與小隊活動分別出來。實現2011年大津營地退休會時宣告將來250人參加的預言。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.03.10-12米勒牧師特別聚會，M4課程
      主日聚會主題：保守你的心。米勒牧師用耶穌跟彼得的互動告訴會友，應該學習管理自己的心。當我們的心遇到打擊後，會開始經歷不同階段：A不安的心-不了解神為什麼這樣。B憂傷充滿我的心。 C心剛硬-咒詛自己。
      D回到舊有生活。但耶穌在為人禱告，我們應學習不讓自己的心被惡者掌握，回到神面前，因為神相信人會回頭。</span></p>
  <p class="c1"><span class="c0"><br>2019.04.09 首次邀請敦克朗牧師晚場特會，共269人參與。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.04.21 第三屆事奉學院畢業典禮。共442人參與。畢業生共位：。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.05.02
      康麥克牧師特別主日聚會，共532人參與。康麥克牧師睽違4年再度來到榮美教會。信息分享只有成為靈裡剛強的人才能學會如何敏銳神的同在、能夠更容易遇見上帝。靈裡剛強的關鍵：1.穩定規律的方言禱告2.每天默想神的話3.神的話使我們能勝過惡者4.學習聆聽神的聲音5.培養敬虔的友誼。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.05.26
      郭志彬牧師特別主日聚會。信息主題：因著信，因這信，仍舊說話。神對人有計畫跟心意，但需要信心才能讓人踏上未知的領域，實現神的計畫，如同宣教士愛台灣遠渡重洋奉獻一生，相信神對台灣的計畫，所留下的屬靈遺產，使他們的故事，因著信仍舊對後代說話。</span>
  </p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.6.16 受洗禮拜，共390人參與。本屆新生兒共名：</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.06.20-23 米勒牧師先知課程M5。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.7.16-19 暑假轉化營會，共159人參與。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.08.11 首度邀請 新加坡城市豐收教會 趙仁牧師特別聚會，共290人參加。</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1"><span class="c0">2019.09.28 城市青年論壇
      首度舉辦牧者與青年雙軌論壇，大會總參加人數877人，首度邀請五星縣長前台東黃健庭縣長擔任下午場講員，黃健庭分享，年輕時曾是美國公司的資深副總，卻放棄優渥的薪水回到台灣，回首一路走來，有幸成為五星縣長，更在任內受洗成為基督徒，帶領台東經濟翻轉，他深信上帝早已預備、引導他的生命。成為縣長之後，要經營一個被喻為「不被上帝祝福的地方」談何容易，他也遇到家庭、生活間的拉扯。曾經黃健庭縣長懷疑自己是否走錯了路。但神的話卻說：「人的腳步為耶和華所定；人豈能明白自己的路呢？」是信仰讓黃健庭縣長能夠一直堅持下去，直到看見神蹟在台東發生，台東被選為本島最幸福的城市，舉辦國際衝浪賽事，甚至開始讓年輕人願意回到家鄉創業、就業，不僅讓城市有榮耀，使人們也開始找回自己的價值。最終黃健庭呼籲：世界正在快速的改變，少子高齡化、AI人工智慧將會衝擊我們的未來。我們必須瞭解世界未來的趨勢，並且加緊腳步預備自己。黃縣長用他的故事和上帝的話，鼓勵年輕人要不畏困難、預備自己成為人才，堅持做對的事情。</span>
  </p>
  <p class="c1"><span class="c0">&nbsp; &nbsp;
      晚場特會講員-郭志彬牧師，在城市青年論壇晚間最後一場聚會中，思恩牧師首先代表牧者們回應在牧者論壇中青少年提出來的問題與建言。教會樂意與年輕人對話，在論壇中牧者們去傾聽年輕人的心聲，更加去瞭解這世代年輕人面臨的掙扎與挑戰；而牧者們盼望在真理的根基上幫助教會的年輕人在時代性的議題中能剛強站立，也期待年輕人學習做一個支持者，跟著教會一起往前。緊接著JCT聯盟的郭志彬牧師分享一篇令人扎心的信息。「有宗教不一定有信仰」郭牧師提到時下的個人主義、享樂主義、生活型態及消費習慣的改變都可能為自己的生命、為教會帶來危機。</span>
  </p>
  <p class="c1"><span class="c0">&nbsp; &nbsp; 大會藉由論壇邀請各領域專業人士幫助高雄青年起來思考，關心世界潮流脈動關心高雄的未來，並透過QA共創思考與實踐的可能性。</span></p>
  <p class="c1"><span class="c0">&nbsp; &nbsp;
      牧者論壇2名講員盧克文宏達電董事長分享-教會如何因應時代變化；黃清塗聖道基金會執行長，分享教會內部上下世代的鴻溝；參與共15間教會，23位牧者，帶領10位青年參加。青年論壇三大主題講員13名，校園青年training講員2名，參加青年論壇有3間教會牧者傳道9名。</span>
  </p>
  <p class="c1"><span class="c0">主題一：遇見我們預料之外的高雄</span></p>
  <p class="c1"><span class="c0">脱去產業轉型的束縛&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;羅國棟 西灣海洋創辦人</span></p>
  <p class="c1"><span class="c0">為社會需求而生的企業&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陳敬恆 台灣好漁創辦人</span></p>
  <p class="c1"><span>社區營造與地方創生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;獨立策展人 劉雯婷老師</span><span
      class="c13">&nbsp;</span><span class="c0">協力統籌 黃于庭助教</span></p>
  <p class="c1"><span class="c0">共創幸福城市&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;吳益政 議員</span></p>
  <p class="c1"><span>主題二：走向世界的i世代</span><span class="c13">&nbsp; &nbsp; </span></p>
  <p class="c1"><span class="c0">愛城市動起來&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;許芳瑜 城市浪人</span></p>
  <p class="c1"><span class="c0">推開世界的門&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邱英智 YMCA海外部主任</span></p>
  <p class="c1"><span class="c0">說與聽之間&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;唐德蓉 基督教今日報執行長</span></p>
  <p class="c1"><span class="c0">從心出發&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;江文杰 達標智源創辦人</span></p>
  <p class="c1"><span class="c0">主題三：我與創業的距離</span></p>
  <p class="c1"><span class="c0">網路新型態創業&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;洪璿岳 讓狂人飛</span></p>
  <p class="c1"><span class="c0">談教育創新的創業價值&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;奇異果老師</span></p>
  <p class="c1"><span class="c0">傳統創業新路線&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;張孟軒 謎思咖啡創辦人</span></p>
  <p class="c1"><span class="c0">科技創業的趨勢&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;趙式隆 台灣矽谷創業家</span></p>
  <p class="c1"><span class="c0">青年論壇青年training主題講員：</span></p>
  <p class="c1"><span class="c0">鄰鄉良食&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;譚景文創辦人</span></p>
  <p class="c1"><span class="c0">台灣藍鵲茶&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黃柏鈞創辦人</span></p>
  <p class="c1 c2"><span class="c0"></span></p>
  <p class="c1" id="h.gjdgxs"><span class="c0">2019.09.29
      新生命顧其芸牧師特別聚會，共290人參與。上午聚會顧牧師分享如何建造教會，牧師用約翰福音第10章1-16節分享建立教會的七大關鍵，1.進羊圈2.找門路3.跟牧者4.走天路5.防盜賊7.領迷羊。下午特別聚會分享做領袖建造教會。</span>
  </p>
  <div>
    <p class="c2 c10"><span class="c7"></span></p>
    <p class="c1 c2"><span class="c7"></span></p>
  </div>
</div>
