@import url("https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLSGpxL_7AiMlXksihSwXLVWPWI90dBMLkFy7A206BQozNTNxr8Rl0P4Gy0Bbn_BtD_esZW2xOQ-xsNqO47m55DA");

ol {
  margin: 0;
  padding: 0;
}
span{
  line-height: 1.5;
}
table td,
table th {
  padding: 0;
}

.history{
  background: rgba(50, 50, 50, 1);
  padding: 36pt 36pt 36pt 36pt;
}
span{
  color: #fff;
}

.c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Calibri";
  font-style: normal;
}

.c12 {
  // background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 4.5pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c5 {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Calibri";
  font-style: normal;
}

.c0 {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Calibri";
  font-style: normal;
}

.c4 {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "PMingLiu";
  font-style: normal;
}

.c6 {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11.5pt;
  font-family: "Helvetica Neue";
  font-style: normal;
}

.c11 {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11.5pt;
  font-family: "PMingLiu";
  font-style: normal;
}

.c9 {
  // background-color: #ffffff;
  font-size: 10.5pt;
  font-family: "Quattrocento Sans";
  color: #fff;
  font-weight: 400;
}

.c3 {
  // background-color: #ffffff;
  font-size: 11.5pt;
  font-family: "Helvetica Neue";
  color: #fff;
  font-weight: 400;
}

.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}

.c10 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: center;
}

.c8 {
  // background-color: #ffffff;
  // max-width: 523.3pt;

}

.c13 {
  font-weight: 400;
  font-family: "MS Mincho";
}

.c2 {
  height: 12pt;
}

.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1;
  page-break-after: avoid;
  font-style: italic;
  text-align: left;
}

li {
  color: #000000;
  font-size: 12pt;
  font-family: "Calibri";
}

p {
  margin: 0;
  color: #000000;
  font-size: 12pt;
  line-height: 1.5;
  font-family: "Calibri";
}

h1 {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 6pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-weight: 700;
  font-size: 18pt;
  padding-bottom: 4pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h3 {
  padding-top: 14pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h4 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h5 {
  padding-top: 11pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h6 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: "Calibri";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}
