.page {
  height: 100%;
  width: 100%;
  display: flex;
  &__main {
    display: block;
    height: 100%;
    flex: 1;
    transition: 0.5s all ease-in-out;
    // width: calc(100% - 150px);
  }
  &__main_full {
    // width: calc(100% - 150px);
  }
  &__select {
    height: 100%;
    width: 100px;
    background-color: rgba(20, 20, 20
    , 1);
    position: relative;
    transition: 0.5s all ease-in-out;
  }
  &__select_hidden {
    // display: none;
    opacity: 0;
    width: 0;
  }
  &__share {
    position: absolute;
    bottom: 20px;
    right: 25px;
  }
}
.vertical-line {
  position: absolute;
  right: 50px;
  display: block;
  background-color: #fff;
  width: 1px;
  height: 150px;
  &_top {
    top: 130px;
  }
  &_bottom {
    bottom: 130px;
  }
}
.nav-icon {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 30px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .line:nth-child(2) {
    // position: relative;
    // left: 20px;
    width: 30px;
  }
  &:hover {
    .line:nth-child(2) {
      width: 40px;
      -webkit-transition: all 0.5s; /* Safari */
      transition: all 0.5s;
    }
  }
}
.share-icon {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.9;
  }
  svg {
    fill: #fff;
    width: 40px;
    height: 40px;
  }
  p {
    color: #fff;
    font-size: 15px;
  }
}
.nav-menu {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    font-size: 25px;
    // font-weight: bold;
  }
}
@media only screen and (max-width: 1440px) {
  .page {
    &__select {
      width: 75px;
    }
    &__share {
      right: 13px;
    }
    &__select_hidden {
      opacity: 0;
      width: 0;
    }
  }
  .nav-icon {
    right: 12px;
  }

  .vertical-line {
    right: 34px;
    height: 150px;
    &_top {
      top: 100px;
    }
    &_bottom {
      bottom: 100px;
    }
  }
}
@media screen and (max-width: 1000px){
  .page{
     &__select {
      display: none;
    }
    &__main {
      width: calc(100%);
    }
  }
}
