<!-- <router-outlet></router-outlet> -->
<div class="page">
  <div class="page__main">
    <div [mnFullpage]="options">
      <div class="section">
        <mainpage></mainpage>
      </div>
      <div class="section">
        <about-church></about-church>
      </div>
      <div class="section">
        <media-record></media-record>
      </div>
      <div class="section">
        <kgbc-tv></kgbc-tv>
      </div>
      <div class="section">
        <church-information></church-information>
      </div>
      <div class="section">
        <footer></footer>
      </div>
    </div>
  </div>
  <div class="page__select">
    <i class="nav-icon">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </i>
    <!-- <mat-menu #lineMenu="matMenu">
      <ul class="nav-menu">
        <li class="nav-menu__item">
          <a href="#about">認識教會</a>
        </li>
        <li class="nav-menu__item">
          <a href="#media">影像紀錄</a>
        </li>
        <li class="nav-menu__item">
          <a href="#vision">願景工程</a>
        </li>
        <li class="nav-menu__item">
          <a href="#information">教會資訊</a>
        </li>
      </ul>
    </mat-menu> -->
    <i class="vertical-line vertical-line_top"></i>
    <i class="vertical-line vertical-line_bottom"></i>
    <div class="page__share">
      <div class="share-icon" [matMenuTriggerFor]="shareMenu">
        <svg>
          <path
            d="M27 22c-1.411 0-2.685 0.586-3.594 1.526l-13.469-6.734c0.041-0.258 0.063-0.522 0.063-0.791s-0.022-0.534-0.063-0.791l13.469-6.734c0.909 0.94 2.183 1.526 3.594 1.526 2.761 0 5-2.239 5-5s-2.239-5-5-5-5 2.239-5 5c0 0.269 0.022 0.534 0.063 0.791l-13.469 6.734c-0.909-0.94-2.183-1.526-3.594-1.526-2.761 0-5 2.239-5 5s2.239 5 5 5c1.411 0 2.685-0.586 3.594-1.526l13.469 6.734c-0.041 0.258-0.063 0.522-0.063 0.791 0 2.761 2.239 5 5 5s5-2.239 5-5c0-2.761-2.239-5-5-5z">
          </path>
        </svg>
        <p>Share</p>
      </div>
      <mat-menu #shareMenu="matMenu">
        <sharemenu></sharemenu>
      </mat-menu>
    </div>
  </div>
</div>
