.part-page {
  &_sinba {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &_article{
    width: auto;
    height: auto;
    padding: 100px 20vw;
    font-size: 18px;
  }
  &__title{
    padding: 20px 0;
    font-size: 26px;
    font-weight: bold;
  }
  &__title_center{
    text-align: center;
  }
  &__img{
    width: 100%;
    height: auto;
  }
}
.sinba-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/background/sinbaBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.sinba {
  overflow: hidden;
  &__narrator{
    position: fixed;
    bottom: 10px;
    left: 50px;
    width: 140px;
    height: 240px;
    z-index: 1001;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__zoo {
    position: relative;
    width: 1200px;
    height: 70%;
    // overflow: hidden;
  }
  &__logo{
    transform-origin: top left;
    position: absolute;
    top: -50px;
    right:-50px;
    width: 500px;
    height: 500px;
    img{
      height:100%;
      width:100%;
    }
  }
  &__animal {
    position: absolute;
    cursor: pointer;
    bottom: -90px;
    img{
      width: 100%;
      height: 100%;
    }
    &_fox {
      width: 247px;
      height: 366px;
      left: 0;
      z-index: 1;
      img{
        transform: rotate(-15deg)
      }
    }
    &_sheep {
      width: 247px;
      height: 366px;
      left: 140px;
      z-index: 2;
      img{
        transform: rotate(-15deg)
      }
    }
    &_giraffe {
      width: 283px;
      height: 643px;
      left: 260px;
      bottom: -40px;
      z-index: 1;
      img{
        transform: rotate(-5deg)
      }
    }
    &_zebra {
      width: 240px;
      height: 400px;
      left: 350px;
      z-index: 2;
    }
    &_simba {
      width: 322px;
      height: 558px;
      left: 450px;
      bottom: -60px;
      z-index: 3;
    }
    &_panda {
      width: 360px;
      height: 540px;
      left: 660px;
      z-index: 2;
      img{
        transform: rotate(15deg)
      }
    }
    &_dog {
      width: 204px;
      height: 286px;
      left: 880px;
      bottom: -140px;
      z-index: 3;
    }
    &_pig {
      width: 238px;
      height: 400px;
      left: 980px;
      bottom: -70px;
      z-index: 2;
      img{
        transform: rotate(5deg)
      }
    }
  }
}
