<div class="part-page part-page_sinba sinba">
  <div class="sinba-bg-image">
  </div>
  <div @simbaLogo *ngIf="loading" class="sinba__logo">
    <img src="assets/img/sinba/simbaLogo.png" alt="" srcset="">
  </div>
  <ul @animal *ngIf="loading" class="sinba__zoo">
    <li *ngFor="let item of animalArray" class="sinba__animal sinba__animal_{{item.name}}">
      <img [src]="item.url" />
    </li>
  </ul>
</div>
<div class="part-page part-page_article">
  <span>
    <br>
    <p class="part-page__title part-page__title_center">
      Simba Kingdom
    </p>
    <br>
    <p class="part-page__title">
      ［關於我們］
    </p>
    <br>
    我們要建構給下一代的優良教育環境，激發孩子自學的動力，從生活中學習、也在生活中運用所學，讓孩子練就追求夢想的勇氣與能力。我們是-Simba Kingdom。
    <br>
    <br>
    <img src="assets/img/article/simbarKingDom/1.jpg" class="part-page__img">
    <img src="assets/img/article/simbarKingDom/2.jpg" class="part-page__img">
    <br>
    <br>
    <p class="part-page__title">
      ［我們的理念］
    </p>
    <br>
    <br>
    我們認為，學習是沒有課表與課程限制的，生活就是最好的學習素材，我們要用生活化的課程讓每個孩子每一次來到學院，每一次都是開心的體驗，使每個家長與孩子，在Simba kingdom裡都能喜歡學習、愛上學習。
    <br>
    我們相信，不管出身背景與家庭狀況如何，每個孩子都應享有充分的教育權。扶助孤兒寡母，更是神託付給基督徒的使命，也是我們要實現的社會正義。
    <br>
    <br>
    <p class="part-page__title">
      ［未來願景］
    </p>
    <br>
    <br>
    建立實驗教育機構－跨學院，實踐教會教育理念、建構系列課程，培養下一代人才；連結亞洲新灣區鄰里與社福機構，用教育資源給予弱勢孩童翻身的機會。
    <br>
    <br>
    <img src="assets/img/article/simbarKingDom/3.jpg" class="part-page__img">
    <img src="assets/img/article/simbarKingDom/4.jpg" class="part-page__img">
    <img src="assets/img/article/simbarKingDom/5.jpg" class="part-page__img">
    <img src="assets/img/article/simbarKingDom/6.jpg" class="part-page__img">
    <br>
    <br>
  </span>
</div>
