
.part-page{
  &_leader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &_article{
    width: auto;
    height: auto;
    padding: 100px 20vw;
    font-size: 18px;
  }
  &__title{
    padding: 20px 0;
    font-size: 26px;
    font-weight: bold;
  }
  &__title_center{
    text-align: center;
  }
  &__img{
    width: 100%;
    height: auto;
  }
}
.leader-bg-image{
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/background/leaderBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.leader{
  font-family: Helvetica;
  &__content{
    position: relative;
  }
  &__en-text{
    transform: rotate(-10deg);
    font-size: 180px;
    font-style:oblique;
    font-weight: 900;
    text-align: center;
    letter-spacing: -5px;
    font-stretch: condensed;
    color: #ffffff;
    text-shadow: -100px -40px 0px rgba(230, 230, 230, 0.25);
  }
  &__zh-text{
    font-family: "Noto Sans TC";
    position: absolute;
    bottom: -5px;
    right: 35px;
    transform: rotate(-8deg);
    font-size: 45px;
    font-weight: 900;
    color: #000000;
  }
  &__logo{
    bottom: 20px;
    right: 5px;
    position: absolute;
    width: 120px;
    height: 80px;
  }
}
