<div class="part-page part-page_leader leader">
  <div  class="leader-bg-image">
  </div>
  <div class="leader__content">
    <div @aniLeaderEn *ngIf="loading" class="leader__en-text">
      <p>
        LEADER
      </p>
      <p>
        TEA
      </p>
      <p>
        TIME
      </p>
    </div>
    <div class="leader__zh-text" @aniLeaderZh *ngIf="loading">
      <p>李德踢碳</p>
    </div>
  </div>
  <img src="assets/img/leaderLogo.png" class="leader__logo">
</div>
<div class="part-page part-page_article">
  <span>
    <br>
    <p class="part-page__title part-page__title_center">
      李德踢碳
    </p>
    <br>
    <p class="part-page__title">
      ［關於我們］
    </p>
    <br>
    李德踢碳，是一個跨學校、跨社團、跨領域的互聯網教育平台，要為高雄校園的社團界，打造一個共創、共享、共榮的願景。
    <br>
    <br>
    <img src="assets/img/article/leaderTeaTime/1.jpg" class="part-page__img">
    <br>
    <br>
    <p class="part-page__title">
      ［我們的理念］
    </p>
    <br>
    <br>
    我們認為校園的文化跟社團有絕對性的關係，甚至一個人、一個社團就可以影響、改變一整個校園，因此我們期盼透過「李德踢碳」這個平台訓練出一群卓越的社團幹部，為他們所在的校園環境帶來正面的影響。 <br>
    我們相信，不管出身背景與家庭狀況如何，每個孩子都應享有充分的教育權。扶助孤兒寡母，更是神託付給基督徒的使命，也是我們要實現的社會正義。
    <br>
    <br>
    <img src="assets/img/article/leaderTeaTime/2.jpg" class="part-page__img">
    <img src="assets/img/article/leaderTeaTime/3.jpg" class="part-page__img">
    <img src="assets/img/article/leaderTeaTime/4.jpg" class="part-page__img">
    <img src="assets/img/article/leaderTeaTime/5.jpg" class="part-page__img">
  </span>
</div>
