.footer-page{
  // position: relative;
  &__container{
    background-color:#1A1A1A;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__about-me{
    width: 60vw;
    // padding-top: 10vh;
  }
  &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3vw;
    padding-bottom: 6.5vh;
    border-bottom: solid 1px #FFFFFF;
  }
  &__infor{
    display: flex;
    justify-content: center;
  }
  &__nav-bar{
    margin: 5vh 0;
    margin-left: 3vw;
  }
  &__item{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding-bottom: 20px;
    p{
      font-family: "Noto Sans TC";
      padding-bottom: 10px;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 5.9px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.footer-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    fill: #ffffff;
  }
}
