<div class="footer-page">
  <div class="footer-page__container">
    <div class="footer-page__about-me">
      <div class="footer-page__logo">
        <img src="../../assets/img/KgbcLogo.png" alt="" srcset="">
      </div>
      <div class="footer-page__infor">
        <ol class="footer-page__nav-bar">
          <li class="footer-page__item">
            <p>地址:</p>
            <p>高雄市前鎮區成功二路四號</p>
          </li>
          <li class="footer-page__item">
            <p>聚會時間:</p>
            <p>星期日</p>
            <p>AM 9:30 - 12:00</p>
          </li>
          <li class="footer-page__item">
            <p>通話:</p>
            <p>07-972-2515</p>
          </li>
        </ol>
      </div>
      <div class="footer-icon">
        <a class="icon-40x40" href="https://www.facebook.com/JesusDesignKaohsiung/">
          <svg width="100%" height="100%">
            <use xlink:href="/assets/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a class="icon-40x40" href="https://www.instagram.com/jesus_design.kaohsiung/">
          <svg width="100%" height="100%">
            <use xlink:href="/assets/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a class="icon-40x40" href="https://www.youtube.com/user/GloryBeautyChurch/">
          <svg width="100%" height="100%">
            <use xlink:href="/assets/img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
