<div class="part-page part-page_about">
  <div [@aniAboutBg]="service.getPage()" class="part-page__about-background-image">
  </div>
  <div class="part-page__about-background-color">
  </div>
  <ul class="about-grid">
    <li *ngFor="let item of aboutList" (click)="openArticle(item)">
      <div class="about-grid__item">
        <mat-icon>{{item.icon}}</mat-icon>
        <h1>{{item.title}}</h1>
      </div>
    </li>
  </ul>
</div>
