$orange1:#ff6523;
$orange3:rgba(255, 100, 35, 0.3);
.part-page{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &_about{
    display: flex;
  }
  &__about-background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/background/aboutChurchBG.png");
    overflow: hidden;
    z-index: -2;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__about-background-color{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(173deg, rgba(0, 0, 0, 0.6), rgba(13, 5, 0, 0.58) 24%, rgba(53, 20, 0, 0.53) 49%, rgba(119, 47, 0, 0.44) 73%, rgba(212, 83, 0, 0.32) 97%, rgba(226, 89, 0, 0.3));
  }
  &__about{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__side-img{
    // border-radius: 50% 0 0 50%;
    position: absolute;
    right: 0;
    background-color: antiquewhite;
    width: 40%;
    height: 100%;
  }
}
.about-grid{
  display: grid;
  padding: 0;
  margin: 0;
  grid-gap: 10px;
  grid-auto-columns: minmax(100px,auto);
  grid-auto-rows: minmax(100px,auto);
  grid-template-columns: repeat(4,1fr);
  width: 100%;
  // height: 100%;
  padding: 50px 100px;
  &__item{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: #fff;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 10px;
    border: #fff 5px solid;
    position: relative;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: .65;
    &:hover{
      background-color:transparent;
      opacity: 1;
    }
    mat-icon{
      display: block;
      font-size: 75px;
      height: 75px;
      width: 75px;
      padding-bottom: 20px;
    }
  }
}
.about-square{
  width: 500px;
  height: 500px;
  position: relative;
  display: inline-block;
  background-color: $orange3;
  transform-origin: left;
  &_translucent-orange {
    background-color: rgba(255, 100, 35, 0.3);
  }
  .triangle-left-top {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 70px 0 0;
    opacity: 1;
    border-color: #ff6523 transparent transparent transparent;
  }
  .triangle-left-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 1;
    border-style: solid;
    border-width: 70px 0 0 70px;
    border-color: transparent transparent transparent #ff6523;
  }
  .triangle-right-top {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 70px 70px 0;
    border-color: transparent #ff6523 transparent transparent;
  }
  .triangle-right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 70px 70px;
    border-color: transparent transparent #ff6523 transparent;
  }
  .title {
    font-family: "CenturyGothicBold";
    font-size: 138px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    top: 35%;
    left: -13%;
  }
}

.article-area{
  color: #FFFFFF;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  &__item{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    a{
      color: #FFFFFF;
      font-weight: normal;
      font-size: 48px;
      line-height: 1.5;
    }
  }
  &__triangle{
    display: inline-block;
    width: 48px;
    fill: #fff;
    margin-right: 25px;
    svg{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
.overlay{
  display: flex;
  justify-content: center;
  position: absolute;
  background: rgba(50, 50, 50, .85);;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  z-index: 99;
  &__content {
    width: 50%;
    padding: 10px 25%;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }
  &__scrollbar{
    overflow: auto;
  }
  &__content b{
    color: #FF6423;
    text-align: center;
  }
  &__content p.title{
    font-size: 22px;
    color: #FF6423;
    text-align: center;
  }
  &__content pre{
    display: block;
    padding-right: 10px;
    white-space:pre-wrap;
  }
  &__article{
    padding-right: 20px;
  }
  .bold-text{
    color: #FF6423;
    font-weight: bold;
  }
  &__close{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 100;
    svg > path{
      stroke: rgba(230, 230, 230, 1);
      stroke-width: 3;
      stroke-linejoin: round;
    }
    &:hover{
      opacity: .6;
    }
    &:active{
      opacity: 1;
    }
  }
}
@media screen and (max-width: 1440px){
  .about-square{
    width: 350px;
    height: 350px;
    .title{
      font-size: 93.5px;
    }
    .triangle-left-top {
      border-width: 47px 47px 0 0;
    }
    .triangle-left-bottom {
      border-width: 47px 0 0 47px;
    }
    .triangle-right-top {
      border-width: 0 47px 47px 0;
    }
    .triangle-right-bottom {
      border-width: 0 0 47px 47px;
    }
  }
  .article-area{
    margin-top: 15px;
    &__item{
      a{
        font-size: 27px;
      }
    }
    &__triangle{
      width: 30px;
      margin-right: 15px;
    }

  }
  .article-area{
    margin-right: 95px;
  }
}
