:host{
  width: 100%;
  height: 100%;
}
.moblie-home{
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  &__background-color{
    z-index: -10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(173deg, rgba(0, 0, 0, 0.6), #3735b3 25%, #1917b2 50%, #3432b3 75%, #04031b 100%);
  }
  &__title{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 180px;
    line-height: 180px;
    font-style: italic;
    padding-right: 5%;
    // padding-top: 10%;
    text-shadow: #cccccc 0px 1px 0px, #c9c9c9 0px 2px 0px, #bbbbbb 0px 3px 0px, #b9b9b9 0px 4px 0px, #aaaaaa 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px;
  }
  &__text {
    margin-top: 30px;
    font-style: italic;
    text-align: center;
    // font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  &__logo{
    display: inline-block;
    margin: 2.5%;
    width: 70px;
    height: 60px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__menu{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    mat-icon{
      z-index: 100;
      position: absolute;
      top: 2.5%;
      right: 5%;
    }
  }
}
.menu{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  &__list{
    width: 100%;
    display: grid;
    align-items: center;
    grid-auto-rows: 100px;
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color:#fff;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
.background{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  &__lion{
    position: absolute;
    top: 15%;
    width: 100%;
    height: 490px;
    box-sizing: border-box;
    padding: 30px;
    opacity: .4;
    // border-radius: 50%;
    // border: 5px solid #fff;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__circle{
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    box-sizing: border-box;
    border: solid 40px #1917cb;
  }
  &__circle_top{
    width: 200px;
    height: 200px;
    top:0%;
    right: -20%;
  }
  &__circle_bottom{
    width: 300px;
    height: 300px;
    bottom: 0%;
    left: -20%;
  }
}
.about-chruch{
  position: relative;
  width: 100%;
  // height: 100%;
  color: #fff;
  margin: 0;
  &__background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    // background-image: url("/assets/img/background/aboutChurchBG.png");
    overflow: hidden;
    // background-size: cover;
    z-index: -10;
    background-repeat: no-repeat;
  }
  &__background-color{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-color: #000;
    // background-image: linear-gradient(173deg, rgba(0, 0, 0, 0.6), rgba(13, 5, 0, 0.58) 24%, rgba(53, 20, 0, 0.53) 49%, rgba(119, 47, 0, 0.44) 73%, rgba(212, 83, 0, 0.32) 97%, rgba(226, 89, 0, 0.3));
  }
}
.article-area{
  color: #FFFFFF;
  font-weight: normal;
  font-size: 27px;
  line-height: 1.5;
  display: grid;
  grid-gap: 10px;
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: minmax(250px, auto);
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin: 0;
   &__item{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: #fff;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 10px;
    border: #fff 5px solid;
    position: relative;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: .65;
    &:hover{
      background-color:transparent;
      opacity: 1;
    }
    mat-icon{
      display: block;
      font-size: 75px;
      height: 75px;
      width: 75px;
      padding-bottom: 20px;
    }
  }
  &__triangle{
    display: inline-block;
    fill: #fff;
    width: 30px;
    margin-right: 15px;
    svg{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
.media-photo{
  // width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title{
    width: 300px;
    height: 60px;
    margin-bottom: 50px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__background-image{
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/background/mediaRecordBG.png");
    background-size: cover;
    z-index: -10;
    // background-repeat: no-repeat;
  }
  &__background-color{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-image: linear-gradient(173deg, rgba(0, 0, 0, 0.6), rgba(13, 5, 0, 0.58) 24%, rgba(53, 20, 0, 0.53) 49%, rgba(119, 47, 0, 0.44) 73%, rgba(212, 83, 0, 0.32) 97%, rgba(226, 89, 0, 0.3));
  }
}
.swiper{
  display: block;
  height: 350px;
  width: 350px;
  margin: 0 25px;
  box-sizing: border-box;
  &__item{
    height: 350px;
    width: 350px;
    display: inline-flex;
    position: relative;
    img{
      position: absolute;
      margin: auto;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &-control{
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    &__next,&__prev{
      display: flex;
      align-items: center;
      color: #FFFFFF;
      padding: 0 10px;
      cursor: pointer;
    }
    &__next{
    }
    &__prev{
      border-left: 3px solid #fff;
    }
  }
  &_kgbc-tv{
    height: auto;
    width: 100%;
    max-width: 420px;
    padding: 0 20px;
    margin: 0;
  }
  &__list{
    display: flex;
  }
  &__item_kgbc-tv{
    // border: #fff solid;
    // width: 50%;
    flex: 1;
    height: 100px;
    box-sizing: border-box;
  }
}
.kgbc-tv{
  width: 100%;
  background-color: #000;
  position: relative;
  padding: 20px 0;
  &__logo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    &-kgbc{
      padding-right: 40px;
    }
    &-tv{
      position: absolute;
      top: 16px;
      right: -15px;
      color: #FF7E00;
    }
  }
  &__text{
    width: 175px;
    position: relative;
  }
  &__swiper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 100px;
  }
  &__main{
    display: grid;
    justify-content: center;
    grid-auto-columns: minmax(300px, 420px);
    grid-auto-rows: minmax(240px, 300px);
    // grid-gap: 20px;
    margin-top: 20px;
    // height: 100%;
  }
  &__item{
    // margin: 20px;
    // border: #fff solid;
    position: relative;
    // z-index: 1;
    img{
      position: absolute;
      margin: auto;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__icon-play{
    position: absolute;
    left: 45%;
    top: 35%;
    font-size: 30px;
  }
}
.location{
  width: 100%;
  // height: 100%;
  background-color: #1A1A1A;
  agm-map{
    width: 100%;
    height: 100%;
  }
  &__bus-txt{
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding-bottom: 20px;
  }
  &__map{
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 50px;
  }
  &__title{
    font-family: "CenturyGothicBold";
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    span{
      margin-top: 6.5vh;
      display: inline-flex;
      border: #fff solid 5px;
      padding: 20px;
    }
  }
  &__list{
    font-size: 18px;
    color: #fff;
  }
  &__item{
    padding: 10px;
  }
  &__item-title{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 20px;
    width: 120px;
    font-weight: 300;
    height: 30px;
    color: #fff;
    background-color: #FF6423;
    margin-bottom: 10px;
  }
  .window{
    display: flex;
    align-items: center;
    font-family: "Noto Sans TC";
    // font-weight: bold;
    font-size: 15px;
    &__img{
      background-color: #FF6423;
      padding: 5px;
      border-radius: 5px;
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
}
.footer-page{
  // position: relative;
  &__container{
    background-color:#1A1A1A;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__about-me{
    width: 60vw;
    // padding-top: 10vh;
  }
  &__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3vw;
    padding-bottom: 6.5vh;
    border-bottom: solid 1px #FFFFFF;
  }
  &__infor{
    display: flex;
    justify-content: center;
  }
  &__nav-bar{
    margin: 5vh 0;
    margin-left: 3vw;
  }
  &__item{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding-bottom: 20px;
    p{
      font-family: "Noto Sans TC";
      padding-bottom: 10px;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 5.9px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.footer-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    fill: #ffffff;
  }
}
