<div class="part-page part-page_kgbc-tv">
  <div [@aniTvBg]="service.getPage()" class="kgbc-tv kgbc-tv_bg">
    <div class="kgbc-tv__logo">
      <p class="kgbc-tv__logo-kgbc">
        KGBC
      </p>
      <p class="kgbc-tv__logo-tv">
        TV
      </p>
    </div>
  </div>
  <div class="kgbc-tv kgbc-tv_gird-box">
    <div class="kgbc-tv__arrow kgbc-tv__arrow_prev">
      <button mat-icon-button (click)="onNextPage(-1)">
        <mat-icon>
          arrow_back_ios
        </mat-icon>
      </button>
    </div>
    <div  class="kgbc-tv__arrow kgbc-tv__arrow_next">
      <button mat-icon-button (click)="onNextPage(1)">
        <mat-icon>
          arrow_forward_ios
        </mat-icon>
      </button>
    </div>
    <div class="kgbc-tv__row">
      <ul class="kgbc-tv__grid kgbc-tv__grid_title">
        <li class="kgbc-tv__grid-item">
          <img [src]="'assets/img/kgbcTv/chruchPromotionalFilm.png'" alt="">
          <a class="kgbc-tv__grid-icon">
            <button mat-icon-button (click)="openVideo('https://firebasestorage.googleapis.com/v0/b/kgbc-f9178.appspot.com/o/chruchPromotionalFilm.mp4?alt=media&token=4930747e-2819-48c6-b94c-ae228151dfaf')">
              <mat-icon>
                play_arrow
              </mat-icon>
            </button>
          </a>
        </li>
        <li class="kgbc-tv__grid-item">
          <img [src]="'https://i.ytimg.com/vi/W1rTzRImrhM/hqdefault.jpg'" alt="">
          <a class="kgbc-tv__grid-icon">
            <button mat-icon-button (click)="openYoutube('W1rTzRImrhM')">
              <mat-icon>
                play_arrow
              </mat-icon>
            </button>
          </a>
        </li>
        <li class="kgbc-tv__grid-item">
          <img [src]="'https://i.ytimg.com/vi/W1rTzRImrhM/hqdefault.jpg'" alt="">
          <a class="kgbc-tv__grid-icon">
            <button mat-icon-button (click)="showYTVedio('W1rTzRImrhM')">
              <mat-icon>
                play_arrow
              </mat-icon>
            </button>
          </a>
        </li>
      </ul>
    </div>
    <div class="kgbc-tv__row">
      <ng-container *ngFor="let chunk of listYT | async; let i = index">
        <ul class="kgbc-tv__grid" @fadein *ngIf="index===i">
          <li *ngFor="let item of chunk" class="kgbc-tv__grid-item">
            <img [src]="item?.snippet?.thumbnails?.high?.url" alt="">
            <a class="kgbc-tv__grid-icon">
              <button mat-icon-button (click)="openYoutube(item?.id?.videoId)">
                <mat-icon>
                  play_arrow
                </mat-icon>
              </button>
            </a>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>
  <div class="lightbox" *ngIf="lightboxShow" >
    <a class="lightbox__close lightbox__close_vidio">
      <button mat-icon-button (click)="cancelYTVedio()">
        <mat-icon>
          clear
        </mat-icon>
      </button>
    </a>
    <div class="lightbox__vidio">
      <iframe width="800" height="600" [src]="playVideo | safeUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

      </iframe>
    </div>
  </div>
</div>





