@import '../../../shared/scss/library.scss';
.part-page{
  &_kgbc-tv{
    display: flex;
    background-color: #000;
  }
}
.kgbc-tv{
  height: 100%;
  width: 100%;
  position: relative;
  &__arrow{
    position: absolute;
    color: #fff;
    bottom: 50%;
    z-index: 2;
    &_prev{
      left: 10px;
    }
    &_next{
      right: 10px;
    }
  }
  &_bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/assets/img/kgbcTv/kgbcTv.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__logo{
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
  }
  &__logo-tv{
    position: absolute;
    top: 15px;
    right: -60px;
    color: #FF7E00;
  }
  &__img-item{
    position: absolute;
    // max-width: 100%;
    // max-height: 100%;
    &_1{
      left: 50px;
    }
    &_2{
      left: 0;

    }
    &_3{
      right: 0;
    }
  }
  &_gird-box{
    display: flex;
    justify-content:center;
    flex-flow: column nowrap;
    padding: 7vw;
    padding-top: 70px;
  }
  &__grid{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-gap: 20px;
    grid-auto-columns: minmax(300px, 420px);
    grid-auto-rows: minmax(240px, 300px);
    margin-bottom: 20px;
    align-content: center;
  }
  // &__grid_title{
  //   grid-gap: 10px;
  //   grid-auto-columns: minmax(210px, 450px);
  //   grid-auto-rows: minmax(180px, 400px);
  // }
  &__row{
    display: flex;
  }
  &__grid-icon{
    position: absolute;
    left: 45%;
    top: 35%;
    font-size: 30px;
    button:hover{
      transition: all .5s;
      width: 50px;
      height: 50px;
    }
  }
  &__grid-item{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    img{
      position: absolute;
      margin: auto;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.lightbox{
  &__vidio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  &__close_vidio{
    top: 10%;
    right: 20%;
  }
}
@media screen and (max-width: 1000px){
  .kgbc-tv{
    &_gird-box{
      flex-flow: row wrap;
    }
    &__grid{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      width: 100%;
      height: 100%;
    }
    &__row{
      height: 100%;
    }
  }
}
