.part-page{
  width: 100%;
  height: 100%;
  position: relative;
  &__background-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(173deg, rgba(0, 0, 0, 0.6), rgba(13, 5, 0, 0.58) 24%, rgba(53, 20, 0, 0.53) 49%, rgba(119, 47, 0, 0.44) 73%, rgba(212, 83, 0, 0.32) 97%, rgba(226, 89, 0, 0.3));
  }
  &_vision-project{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column nowrap;
  }
}
.infor-square{
  position: absolute;
  top: 25vh;
  left: 12.5vw;
}
.vision-project-image{
  width: 75vw;
  height: 55vh;
  margin-bottom: 9.5vh;
  background-image: url("/assets/img/visonProject.png");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.vision-project-title{
  font-family: "CenturyGothicBold";
  font-size: 7vw;
  font-weight: bold;
  color: rgba(255, 100, 35, 1);
  margin-bottom: 3vh;
}
.vision-project-text{
  font-size: 35px;
  color: rgba(77, 77, 77, 1);
  margin-bottom: 11vh;
  letter-spacing: 1vw;
}
