<div class="part-page part-page_vision-project">
  <p class="vision-project-title">VISION PROJECT</p>
  <p class="vision-project-text">亞灣10年耕耘計畫 敬請期待</p>
  <div class="vision-project-image">
  </div>
</div>
