.part-page{
  width: 100%;
  height: 100%;
  position: relative;
  &__media-background-color{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(173deg, rgba(0, 0, 0, 0.7), rgba(13, 5, 0, 0.6) 24%, rgba(53, 20, 0, 0.6) 49%, rgba(119, 47, 0, 0.5) 73%, rgba(212, 83, 0, 0.4) 97%, rgba(226, 89, 0, 0.6z));
  }
  &_media-background-image{
    background-image: url("/assets/img/background/mediaRecordBG.png");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }

}
.media-container{
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.media-title{
  padding-top: 9vh;
  display: flex;
  justify-content: center;
  img{
    width: 45vw;
    height: 15vh;
  }
}
.photo-wall{
  box-sizing: border-box;
  padding: 4.5vw;
  width: 100%;
  height: 100%;
  &__error{
    color: white;
    font-size: 25px;
    position: absolute;
  }
  &__about-commit{
    background-color: rgba(0,0,0,.6);
    position: absolute;
    padding: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3;
    &:hover{
      opacity: 1;
    }
    .icon-20x20{
      margin-right: 10px;
    }
    svg{
      fill: white;
    }
    .about-like,.about-spker{
      display: inline-flex;
      align-items: center;
      padding: 0 10px;
    }
  }
  &__grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    grid-auto-columns: minmax(210px,300px);
    grid-auto-rows: minmax(200px,270px);
  }
  &__item{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    img{
      position: absolute;
      margin: auto;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
    }
    // .photo-wall__bg{
    //   position: absolute;
    //   z-index: 5;
    //   width: 100%;
    //   height: 100%;
    //   &_color-orange{
    //     background-color: rgba(251, 176, 59, 0.5);
    //   }
    //   &_color-red{
    //     background-color: rgba(212, 20, 90, 0.5);
    //   }
    //   &_color-purple{
    //     background-color: rgba(122, 111, 185, 0.5);
    //   }
    //   &_color-green{
    //     background-color: rgba(57, 181, 74, 0.5);
    //   }
    //   &_color-deep-purple{
    //     background-color: rgba(46, 49, 146, 0.5);
    //   }
    //   &_color-water-blue{
    //     background-color: rgba(0, 169, 157, 0.5);
    //   }
    //   &_color-yellow{
    //     background-color: rgba(252, 238, 33, 0.5);
    //   }
    //   &_color-gray{
    //     background-color: rgba(232, 232, 249, 0.5);
    //   }
    // }
  }
}
.lightbox{
  background: rgba(0,0,0,.8);
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  z-index: 99;
  img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
  }
  &__close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 100;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    &:hover{
      opacity: .6;
    }
    &:active{
      opacity: 1;
    }
  }
}
@media screen and (max-width: 1440px){
  .photo-wall{

    // padding:0 3vw;
    .photo-wall__grid{
      grid-auto-columns: minmax(150px,300px);
      grid-auto-rows: minmax(120px,200px);
    }
  }
}
@media screen and (max-width: 1000px){
  .photo-wall{
    &__grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      width: 100%;
      height: 100%;
      grid-auto-columns: minmax(210px,300px);
      grid-auto-rows: minmax(200px,270px);
    }
  }

}
