<div class="part-page part-page_media-background-image">
  <div class="lightbox" [hidden]="lightbox" (click)="lightbox = true">
    <a class="lightbox__close">
      <button mat-icon-button (click)="lightbox = true">
        <mat-icon>
          clear
        </mat-icon>
      </button>
    </a>
    <img [src]="selectPhoto" alt="">
  </div>
  <div class="part-page__media-background-color">
  </div>
  <div class="media-container">
    <p class="media-title" *ngIf="!isMobile">
      <img src="/assets/img/photoWall.png" alt="" srcset="">
    </p>
    <div class="slide">
      <div class="photo-wall">
        <div class="photo-wall__error" *ngIf="photoArray  === null">
          oops! 這個功能無法運作 ( ×ω× )
        </div>
        <ul class="photo-wall__grid">
          <li [@aniImag]="service.getPage()"  *ngFor="let photo of photoArray | async" class="photo-wall__item">
            <div class="photo-wall__about-commit" (click)="showPhoto(photo.node.display_url)">
              <div class="about-like">
                <a target="_blank" href="https://www.instagram.com/p/{{photo.node.shortcode}}" class="icon-20x20">
                  <svg  width="100%" height="100%">
                    <use xlink:href="/assets/img/sprite.svg#icon-heart"></use>
                  </svg>
                </a>
                <span>{{photo.node.edge_liked_by.count}}</span>
              </div>
              <div class="about-spker">
                <a target="_blank" href="https://www.instagram.com/p/{{photo.node.shortcode}}" class="icon-20x20">
                  <svg  width="100%" height="100%" >
                    <use xlink:href="/assets/img/sprite.svg#icon-bubble"></use>
                  </svg>
                </a>
                <span>{{photo.node.edge_media_to_comment.count}}</span>
              </div>
            </div>
            <img [src]="photo.node.thumbnail_resources[4].src" alt="" >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
